section.section4.p-60-0
    .container
        .section-migdex-wrap
            .section-title Наши работы
            p.section-desc.mb-5 Сайты на основе решений «Migdex» и индивидуальные проекты.
            .section-works.row
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-works-col
                    .section-works-img(style="background-image:url('./static/img/content/works/work1.png')")
                        .section-works--content
                            p Редизайн и маркетинг план для сайта компании “МИР”
                            .migdex-button.w-230.m-0-auto Смотреть Demo-версию
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-works-col
                    .section-works-img(style="background-image:url('./static/img/content/works/work2.png')")
                        .section-works--content
                            p Редизайн и маркетинг план для сайта компании “МИР”
                            .migdex-button.w-230.m-0-auto Смотреть Demo-версию
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-works-col
                    .section-works-img(style="background-image:url('./static/img/content/works/work3.png')")
                        .section-works--content
                            p Редизайн и маркетинг план для сайта компании “МИР”
                            .migdex-button.w-230.m-0-auto Смотреть Demo-версию
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-works-col
                    .section-works-img(style="background-image:url('./static/img/content/works/work4.png')")
                        .section-works--content
                            p Редизайн и маркетинг план для сайта компании “МИР”
                            .migdex-button.w-230.m-0-auto Смотреть Demo-версию
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-works-col
                    .section-works-img(style="background-image:url('./static/img/content/works/work5.png')")
                        .section-works--content
                            p Редизайн и маркетинг план для сайта компании “МИР”
                            .migdex-button.w-230.m-0-auto Смотреть Demo-версию
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-works-col
                    .section-works-img(style="background-image:url('./static/img/content/works/work6.png')")
                        .section-works--content
                            p Редизайн и маркетинг план для сайта компании “МИР”
                            .migdex-button.w-230.m-0-auto Смотреть Demo-версию
            .migdex-button.w-230.m-0-auto Смотреть все работы
