section.section6.p-60-0.mb-25
    .container.mb-120
        .section-migdex-wrap
            .section-title Лучшие предложения
            p.section-desc.mb-5 Наши последние разработки объединили в себе мощный функционал, последние технологии в сфере электронной коммерции и стильный дизайн.
    .section-wave
        .container
            .section-wave--content
                .section-wave--left
                    .js-section-wave--slider#slider2
                        img.wave-slide--item(src="/static/img/content/img1.png")
                        img.wave-slide--item(src="/static/img/content/img1.png")
                        img.wave-slide--item(src="/static/img/content/img1.png")
                    .wave-arrows
                        .wave-slider--prev2
                            +icon('arrow-left')
                        .wave-slider--line
                            +icon('line')
                        .wave-slider--next2
                            +icon('arrow-right')
                .section-wave--right
                    .js-section-wave--slider__for#thumb-slider2
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title MIGDEXSHOP
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac, nisi, massa, sit dictum. Nibh pretium ac id suscipit. Tincidunt vitae at id massa lectus. Sagittis, sed feugiat pharetra, eleifend. Amet vulputate enim, duis nam feugiat adipiscing aliquam. Tempus consequat egestas posuere pellentesque leo placerat ipsum. Nibh fames quam malesuada dolor, adipiscing nulla nec. Montes, urna interdum ornare duis viverra.
                                    br
                                    br
                                    | Iaculis blandit at mauris at massa metus consequat arcu. Et leo vel nisl nisl nunc.
                            .slider-wave-slide--items
                                .migdex-button.w-230 Смотреть Demo-версию
                                .slider-wave-slide--price от 54 990 ₽
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title Проектирование и дизайн2
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit consectetur dui elit facilisis interdum. Felis arcu, tellus venenatis vitae vel nisi dui nunc. Tellus a magna sollicitudin orci mattis risus. Sapien accumsan pellentesque viverra sed commodo.
                            .slider-wave-slide--items
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/paper.svg")
                                    .slider-wave-slide--item__text Создание прототипа, и карты навигации
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/creativ.svg")
                                    .slider-wave-slide--item__text Визуальный дизайн, дизайн интерфейса
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/promov.svg")
                                    .slider-wave-slide--item__text Контентная стратегия, создание контента
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title Проектирование и дизайн3
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit consectetur dui elit facilisis interdum. Felis arcu, tellus venenatis vitae vel nisi dui nunc. Tellus a magna sollicitudin orci mattis risus. Sapien accumsan pellentesque viverra sed commodo.
                            .slider-wave-slide--items
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/paper.svg")
                                    .slider-wave-slide--item__text Создание прототипа, и карты навигации
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/creativ.svg")
                                    .slider-wave-slide--item__text Визуальный дизайн, дизайн интерфейса
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/promov.svg")
                                    .slider-wave-slide--item__text Контентная стратегия, создание контента
