section.section4.p-60-0
    .container
        .section-migdex-wrap
            .section-title Почему люди выбирают нас?
            p.section-desc.mb-5 Выгодные цены и качественная работа далеко не единственные причины!
            .section-why-choise.row
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/piggy.svg")
                        p.section-why-desc Самые выгодные цены
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/disco.svg")
                        p.section-why-desc Постоянные акции и скидки
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/level.svg")
                        p.section-why-desc Широкий выбор функционала
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/gears.svg")
                        p.section-why-desc Удобная настройка готовых решений
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/brous.svg")
                        p.section-why-desc Большой выбор готовых решений
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/male.svg")
                        p.section-why-desc Индивидуальный подход
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/clock.svg")
                        p.section-why-desc Скорость выполнения индивидуальных проектов
                .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6.section-why-col
                    .section-why-block.blue-box
                        img.section-why--img(src="./static/img/content/svg/medal.svg")
                        p.section-why-desc Высокое качество работ
            .migdex-button.w-230.m-0-auto Заполнить бриф