section.section11.p-60-0
    .container
        .section-migdex-wrap
            .section-title Блог
            .section-desc.mb-40 Свежие статьи и новости в одном месте, всегда будьте в курсе новостей и трендов
            .section-blog-block.row
                a.col-xl-4.col-lg-4.col-md-6.col-sm-12.section-blog-col(href="/")
                    .section-blog--item.blue-box
                        .section-blog--item__img(style="background-image:url('./static/img/content/blog/img1.png')")
                            .section-migdex-content-hit Статьи
                        .section-blog--item__title Как попасть в портфолио Аспро, и зачем это нужно?
                        .section-blog--item__date 28 февраля 2020
                a.col-xl-4.col-lg-4.col-md-6.col-sm-12.section-blog-col(href="/")
                    .section-blog--item.blue-box
                        .section-blog--item__img(style="background-image:url('./static/img/content/blog/img2.png')")
                            .section-migdex-content-stock Акции
                        .section-blog--item__title Как попасть в портфолио Аспро, и зачем это нужно?
                        .section-blog--item__date 28 февраля 2020
                a.col-xl-4.col-lg-4.col-md-6.col-sm-12.section-blog-col(href="/")
                    .section-blog--item.blue-box
                        .section-blog--item__img(style="background-image:url('./static/img/content/blog/img3.png')")
                            .section-migdex-content-hit Новости
                        .section-blog--item__title Как попасть в портфолио Аспро, и зачем это нужно?
                        .section-blog--item__date 28 февраля 2020
            .migdex-button.w-230.m-0-auto Смотреть все