section.section3.p-60-0.mb-25.wave-section
    .container.mb-120
        .section-migdex-wrap
            .section-title Готовые решения от Migdex это:
            p.section-desc.mb-5 Всегда совокупность хорошего современного дизайна и плавной, четкой работы
    .section-wave
        .container
            .section-wave--content
                .section-wave--left
                    .js-section-wave--slider#slider
                        img.wave-slide--item(src="/static/img/content/svg/illus.svg")
                        img.wave-slide--item(src="/static/img/content/svg/illus.svg")
                        img.wave-slide--item(src="/static/img/content/svg/illus.svg")
                    .wave-arrows
                        .wave-slider--prev
                            +icon('arrow-left')
                        .wave-slider--line
                            +icon('line')
                        .wave-slider--next
                            +icon('arrow-right')
                .section-wave--right
                    .js-section-wave--slider__for#thumb-slider
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title Проектирование и дизайн
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit consectetur dui elit facilisis interdum. Felis arcu, tellus venenatis vitae vel nisi dui nunc. Tellus a magna sollicitudin orci mattis risus. Sapien accumsan pellentesque viverra sed commodo.
                            .slider-wave-slide--items.slider-wave-slide--items2
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/paper.svg")
                                    .slider-wave-slide--item__text Создание прототипа, и карты навигации
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/creativ.svg")
                                    .slider-wave-slide--item__text Визуальный дизайн, дизайн интерфейса
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/promov.svg")
                                    .slider-wave-slide--item__text Контентная стратегия, создание контента
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title Проектирование и дизайн2
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit consectetur dui elit facilisis interdum. Felis arcu, tellus venenatis vitae vel nisi dui nunc. Tellus a magna sollicitudin orci mattis risus. Sapien accumsan pellentesque viverra sed commodo.
                            .slider-wave-slide--items.slider-wave-slide--items2
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/paper.svg")
                                    .slider-wave-slide--item__text Создание прототипа, и карты навигации
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/creativ.svg")
                                    .slider-wave-slide--item__text Визуальный дизайн, дизайн интерфейса
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/promov.svg")
                                    .slider-wave-slide--item__text Контентная стратегия, создание контента
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title Проектирование и дизайн3
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit consectetur dui elit facilisis interdum. Felis arcu, tellus venenatis vitae vel nisi dui nunc. Tellus a magna sollicitudin orci mattis risus. Sapien accumsan pellentesque viverra sed commodo.
                            .slider-wave-slide--items.slider-wave-slide--items2
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/paper.svg")
                                    .slider-wave-slide--item__text Создание прототипа, и карты навигации
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/creativ.svg")
                                    .slider-wave-slide--item__text Визуальный дизайн, дизайн интерфейса
                                .slider-wave-slide--wrap
                                    .slider-wave-slide--item
                                        img.slider-wave-slide--img(src="/static/img/content/svg/promov.svg")
                                    .slider-wave-slide--item__text Контентная стратегия, создание контента
