section.section10.p-60-0
    .container
        .section-migdex-wrap
            .section-title Отзывы
            p.section-desc.mb-40 Мнение реальных клиентов о наших сайтах
            .section-rev-block.row
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-rev-col
                    .section-rev--item.blue-box
                        .section-rev--top
                            .section-rev--left
                                .section-rev--img(style="background-image:url('/static/img/content/slider/img1.png')")
                            .section-rev--right
                                .section-rev--title Варвара Мамлеева
                                .section-rev--desc Строительный сайт “Migdexstroy”
                        .section-rev--bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus pharetra, varius in ac nulla. Faucibus elementum hac quis id in. Orci, blandit sit sit platea nulla odio ipsum neque. Est faucibus habitant diam morbi. Adipiscing lorem diam ultricies vitae sit...
                    a.section-rev--link(href="/") Читать полностью
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-rev-col
                    .section-rev--item.blue-box
                        .section-rev--top
                            .section-rev--left
                                .section-rev--img(style="background-image:url('/static/img/content/slider/img1.png')")
                            .section-rev--right
                                .section-rev--title Варвара Мамлеева
                                .section-rev--desc Строительный сайт “Migdexstroy”
                        .section-rev--bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus pharetra, varius in ac nulla. Faucibus elementum hac quis id in. Orci, blandit sit sit platea nulla odio ipsum neque. Est faucibus habitant diam morbi. Adipiscing lorem diam ultricies vitae sit...
                    a.section-rev--link(href="/") Читать полностью
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-rev-col
                    .section-rev--item.blue-box
                        .section-rev--top
                            .section-rev--left
                                .section-rev--img(style="background-image:url('/static/img/content/slider/img1.png')")
                            .section-rev--right
                                .section-rev--title Варвара Мамлеева
                                .section-rev--desc Строительный сайт “Migdexstroy”
                        .section-rev--bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus pharetra, varius in ac nulla. Faucibus elementum hac quis id in. Orci, blandit sit sit platea nulla odio ipsum neque. Est faucibus habitant diam morbi. Adipiscing lorem diam ultricies vitae sit...
                    a.section-rev--link(href="/") Читать полностью
            .js-rev-dots--wrap

