section.section-main-page
    .js-main-page-slider
        .slide-main-page(style="background-image:url('./static/img/general/img1.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
    .js-slider-dots--wrap

section.section-main-page__mobile
    .js-main-page-slider__mobile
        .slide-main-page(style="background-image:url('./static/img/general/img1-tablet.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1-tablet.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1-tablet.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1-tablet.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
        .slide-main-page(style="background-image:url('./static/img/general/img1-tablet.jpg')")
            .container
                .slide-main-content.col-xl-6.col-lg-6.col-md-9.col-sm-12.p-0
                    .slide-main--title Готовые решения для бизнеса от Migdex
                    .migdex-button-slide Смотреть Demo-версию
    .js-slider-dots--wrap__mobile


