section.section9.p-60-0
    .container
        .section-migdex-wrap2
            .section-title Видеоотзывы клиентов
            a.section-review-all(href="/") Все отзывы
        .reveiw-tab-video.review-video-selector.tabs-content

            .index-video-slider--wrapper
                .index-video-slider
                    a.index-video-slider-item(data-fancybox href="https://www.youtube.com/watch?v=doe3kUqHIcM&ab_channel=PlayStation")
                        .index-video-slider-source.index-video-ID(style="background-image: url('static/img/content/slider/img1.png')")
                        .icon-preload
                            +icon('playz')
                    a.index-video-slider-item(data-fancybox href="https://www.youtube.com/watch?v=doe3kUqHIcM&ab_channel=PlayStation")
                        .index-video-slider-source.index-video-ID(style="background-image: url('static/img/content/slider/img2.png')")
                        .icon-preload
                            +icon('playz')
                    a.index-video-slider-item(data-fancybox href="https://www.youtube.com/watch?v=doe3kUqHIcM&ab_channel=PlayStation")
                        .index-video-slider-source.index-video-ID(style="background-image: url('static/img/content/slider/img3.png')")
                        .icon-preload
                            +icon('playz')
                    a.index-video-slider-item(data-fancybox href="https://www.youtube.com/watch?v=doe3kUqHIcM&ab_channel=PlayStation")
                        .index-video-slider-source.index-video-ID(style="background-image: url('static/img/content/slider/img1.png')")
                        .icon-preload
                            +icon('playz')
                    a.index-video-slider-item(data-fancybox href="https://www.youtube.com/watch?v=doe3kUqHIcM&ab_channel=PlayStation")
                        .index-video-slider-source.index-video-ID(style="background-image: url('static/img/content/slider/img2.png')")
                        .icon-preload
                            +icon('playz')
                .index-video-slider-arrow
                    .index-video-slider--prev
                        +arrow('arrow-left','arrow-rotate')
                    .index-video-slider--next
                        +arrow('arrow-right')
                .js-video-dots--wrap
        .migdex-button.w-230.m-0-auto Оставить отзыв