section.section6.p-60-0.mb-25.wave-section
    .container.mb-120
        .section-migdex-wrap
            .section-title Лучшие предложения
            p.section-desc.mb-5 Наши последние разработки объединили в себе мощный функционал, последние технологии в сфере электронной коммерции и стильный дизайн.
    .section-wave
        .container
            .section-wave--content
                .section-wave--left
                    .js-section-wave--slider#slider2
                        img.wave-slide--item(src="./static/img/content/img1.png")
                        img.wave-slide--item(src="./static/img/content/img1.png")
                        img.wave-slide--item(src="./static/img/content/img1.png")
                    .wave-arrows
                        .wave-slider--prev2
                            +icon('arrow-left')
                        .wave-slider--line
                            +icon('line')
                        .wave-slider--next2
                            +icon('arrow-right')
                .section-wave--right
                    .js-section-wave--slider__for#thumb-slider2
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title MIGDEXSHOP
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac, nisi, massa, sit dictum. Nibh pretium ac id suscipit. Tincidunt vitae at id massa lectus. Sagittis, sed feugiat pharetra, eleifend. Amet vulputate enim, duis nam feugiat adipiscing aliquam. Tempus consequat egestas posuere pellentesque leo placerat ipsum. Nibh fames quam malesuada dolor, adipiscing nulla nec. Montes, urna interdum ornare duis viverra.
                                    br
                                    br
                                    | Iaculis blandit at mauris at massa metus consequat arcu. Et leo vel nisl nisl nunc.
                            .slider-wave-slide--items
                                .migdex-button.w-230 Смотреть Demo-версию
                                .slider-wave-slide--price от 54 990 ₽
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title MIGDEXSHOP
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac, nisi, massa, sit dictum. Nibh pretium ac id suscipit. Tincidunt vitae at id massa lectus. Sagittis, sed feugiat pharetra, eleifend. Amet vulputate enim, duis nam feugiat adipiscing aliquam. Tempus consequat egestas posuere pellentesque leo placerat ipsum. Nibh fames quam malesuada dolor, adipiscing nulla nec. Montes, urna interdum ornare duis viverra.
                                    br
                                    br
                                    | Iaculis blandit at mauris at massa metus consequat arcu. Et leo vel nisl nisl nunc.
                            .slider-wave-slide--items
                                .migdex-button.w-230 Смотреть Demo-версию
                                .slider-wave-slide--price от 54 990 ₽
                        .section-wave--slider__for__item
                            .section-wave--slider__for--wrap
                                .slider-wave--title__wrap
                                    .slider-wave--title MIGDEXSHOP
                                    .slider-wave--count
                                .slider-wave--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac, nisi, massa, sit dictum. Nibh pretium ac id suscipit. Tincidunt vitae at id massa lectus. Sagittis, sed feugiat pharetra, eleifend. Amet vulputate enim, duis nam feugiat adipiscing aliquam. Tempus consequat egestas posuere pellentesque leo placerat ipsum. Nibh fames quam malesuada dolor, adipiscing nulla nec. Montes, urna interdum ornare duis viverra.
                                    br
                                    br
                                    | Iaculis blandit at mauris at massa metus consequat arcu. Et leo vel nisl nisl nunc.
                            .slider-wave-slide--items
                                .migdex-button.w-230 Смотреть Demo-версию
                                .slider-wave-slide--price от 54 990 ₽
