section.section12.pt-200
    .section-migdex-wrap
        .section-map-sub.blue-box
            .map-title Подпишитесь на наш блог
            .map-desc Будьте в курсе последних новостей и акций!
            form.section-map-plane
                .map-plane-email
                    +icon('email')
                input.sub-map-plane(type="text" placeholder="Email")
                button.sub-maop-send(type="submit")
                    +send('send')

        .section-map#map
