section.section8.p-60-0.mb-25.wave-section
    .container.mb-120
        .section-migdex-wrap
            .section-title Есть идеи, но не знаете, с чего начать?
            p.section-desc.mb-5 Поможем с выбором решения, ответим на все вопросы и подготовим индивидуальное предложение.
    .section-wave
        .container
            .section-wave--content
                .section-wave--left.section-wave--left2
                    img.wave-slide--item(src="/static/img/content/svg/illu2.svg")

                form.section-wave--right
                    .slider-wave--title.text-center.mb-70 При заказе от 100 000 ₽ консультация и первое согласование бесплатно!
                    .slider-wave-input-wrapper.mb-70
                        input.migdex-input--wave.mr-30(type="text" placeholder="ФИО")
                        input.migdex-input--wave(type="tel" data-mask="+7 (000) 000-00-00" placeholder="Телефон")
                    button.migdex-button.w-230.m-0-auto Оставить заявку
