section.section7.p-60-0.mb-25
    .container
        .section-migdex-wrap
            .section-title Как мы работаем
            p.section-desc.mb-5 4 простых шага к получению не просто сайта, а развитию Вашего бизнеса
            .section-how-job.row
                .col-xl-3.col-lg-3.col-md-6.col-sm-12.how-job--col
                    .how-job--item.blue-box
                        .how-job--top
                            img.how-job-img(src="./static/img/content/svg/con-z.svg")
                            .how-job--title Оставляете заявку
                        .how-job--text Через сайт, нашу почту или по телефону. С вами связывается менеджер и уточняет детали проекта.
                .col-xl-3.col-lg-3.col-md-6.col-sm-12.how-job--col
                    .how-job--item.blue-box
                        .how-job--top
                            img.how-job-img(src="./static/img/content/svg/op.svg")
                            .how-job--title Подбираем решение
                        .how-job--text Вместе анализируем потребности бизнеса и подбираем оптимальный по своим возможностям и функционалу вариант.
                .col-xl-3.col-lg-3.col-md-6.col-sm-12.how-job--col
                    .how-job--item.blue-box
                        .how-job--top
                            img.how-job-img(src="./static/img/content/svg/si.svg")
                            .how-job--title Выбираем хостинг
                        .how-job--text Выбирайте любой или доверьтесь нашим рекомендациям. При покупке комплектов лицензий «Решение + 1С-Битрикс» дарим скидки до 50% на хостинг RedDock.
                .col-xl-3.col-lg-3.col-md-6.col-sm-12.how-job--col
                    .how-job--item.blue-box
                        .how-job--top
                            img.how-job-img(src="./static/img/content/svg/ci.svg")
                            .how-job--title Устанавливаем сайт
                        .how-job--text В течение 2 рабочих дней наши программисты установят и настроят решение. После этого передаем права на сайт и список паролей, необходимых для работы.
            .js-how-dots--wrap
            .col-xl-10.col-lg-10.col-md-12.col-sm-12.how-job-video
                .how-job-video--wrap.blue-box
                    a.how-job-video--link(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                        .how-job-video--icon
                            +icon('playz')
                        img.how-job-video--img(src="./static/img/general/vidos.jpg")





