section.section2.p-60-0
    .container
        .section-wrap
            .section-title Услуги
            p.section-desc.mb-5 Системный подход — залог высокой окупаемости инвестиций
            .section-services.row
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/pencil.svg")
                                .section-services-title Разработка
                            .section-services-text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                        .section-services-anno Бэкенд; Фронтэнд; Интеграция Сms bitrix, Wordpress, Opencart
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/network.svg")
                                .section-services-title Маркетинг
                            .section-services-text.mb-5 Предоставляет полный комплекс услуг в сфере цифрового маркетинга
                        .migdex-button-block(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/cog.svg")
                                .section-services-title Автоматизация
                            .section-services-text Автоматизруем любую работу, для которой можно создать инструкцию.
                        .section-services-anno Crm системы, личный кабинеты для управления
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/design.svg")
                                .section-services-title UX | UI Дизайн
                            .section-services-text Индивидуальное проектирование и дизайн сайтов, лендингов и интернет-магазинов
                        .section-services-anno Проектирование (UX); Дизайн (UI); Фирменный стиль
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/advers.svg")
                                .section-services-title Поддержка
                            .section-services-text Контекстная реклама Яндекс.Директи Google AdWords
                        .section-services-anno Контекстный таргетинг; Поведенческие технологии; Ремаркетинг
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/target.svg")
                                .section-services-title Таргетированная реклама
                            .section-services-text Контекстная реклама Яндекс.Директи Google AdWords
                        .section-services-anno Контекстный таргетинг; Поведенческие технологии; Ремаркетинг
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/promo.svg")
                                .section-services-title Контекстная реклама
                            .section-services-text Контекстная реклама Яндекс.Директ и Google AdWords
                        .section-services-anno Контекстный таргетинг; Поведенческие технологии; Ремаркетинг
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/comp.svg")
                                .section-services-title Готовые решения
                            .section-services-text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                        .section-services-anno Бэкенд; Фронтэнд; Интеграция Сms bitrix, Wordpress, Opencart
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
                .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-services-col
                    .section-services-block.blue-box
                        .section-services--flex--space
                            .section-services-top
                                img.section-services-img(src="./static/img/content/svg/target.svg")
                                .section-services-title Таргетированная реклама
                            .section-services-text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                        .section-services-anno Бэкенд; Фронтэнд; Интеграция Сms bitrix, Wordpress, Opencart
                        .migdex-button-block.section-services--mobile(data-toggle="modal" data-target="#popup-brif") Заполнить бриф
            .js-services-dots--wrap