@media (min-width: 1200px)
  .col-xl-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-xl-7_5
    flex: 0 0 60%;
    max-width: 60%;

@media (min-width: 992px)
  .col-lg-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-lg-7_5
    flex: 0 0 60%;
    max-width: 60%;

@media (min-width: 768px)
  .col-md-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-md-7_5
    flex: 0 0 60%;
    max-width: 60%;

@media (min-width: 576px)
  .col-sm-2_5
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
  .col-sm-7_5
    flex: 0 0 60%;
    max-width: 60%;

@media (min-width: 1200px)
  .col-xl-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 992px)
  .col-lg-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 768px)
  .col-md-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;

@media (min-width: 576px)
  .col-sm-9_5
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
    flex: 0 0 80%;
    max-width: 80%;




.popup-close
  display flex
  justify-content center
  align-items center
  width max-content
  margin: auto 0 0 auto;
  cursor pointer
  margin-bottom 15px
  .icon
    size(17px)
    fill #fff

.popup-header
  display flex
  align-items center
  justify-content center
  padding 0
  margin-bottom 40px
.modal-content
  background-color #2B2F3F
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding 30px 60px
  border none

.popup-title
  font-family Ow500
  font-size 30px
  color #fff
.h-47
  height 47px !important
.migdex-popup-input
  position relative
  margin-bottom 20px
  label
    font-family Os600
    font-size 12px
    color #fff

  &:last-child
    margin-bottom 0
.popup-social-list
  display flex
  align-items center
  justify-content center


.popup-social-item
  display flex
  justify-content center
  align-items center
  size(47px)
  border 2px solid rgba(255, 255, 255,0.1)
  border-radius 5px
  cursor pointer
  margin-right 20px
  transition .2s ease
  &:last-child
    margin-right 0
  .icon
    size(25px)
    fill #fff
  &:hover
    border 2px solid rgba(255, 255, 255,1)
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2));
    .icon
      fill #F79334

.mt-40
  margin-top 40px
.popup-social-title
  text-align center
  font-family Os600
  font-size 14px
  color #fff
  margin-bottom 15px
.popup-not-have-acc
  display flex
  align-items center
  justify-content center
  margin-top 60px
.popup-not-have-acc--title
  font-family Os600
  font-size 14px
  color #fff
.popup-not-have-link
  color #F37535
  text-decoration underline
  margin-left 5px
  cursor pointer
  font-family Os600
  font-size 14px
.w-1030
  max-width 1030px

.migdex-textarea
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  border: 2px solid rgba(255,255,255,0.05);
  padding: 15px;
  font-family: 'Open Sans 600', sans-serif;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  width: 100%;
  outline none
.migdex-popup-input--col__wrap
  display flex
  justify-content space-between
  margin 0 -15px
  margin-bottom 30px
.migdex-popup-input--col
  label
    font-family: 'Open Sans 600', sans-serif;
    font-size: 12px;
    color: #fff;
.migdex-popup-input-cols--flex
  display flex
  align-items center
.migdex-tire
  font-family Os600
  font-size 14px
  color #AFB0B6
.migdex-popup-input-cols--flex
  margin 0 -15px

.migdex-popup-input__icon
  display flex
  justify-content center
  align-items center
  absolute-center()
  left auto
  right 15px
  transform translate(-50%, -50%)
  .icon
    size(21px)
    fill #fff
.migdex-add-file
  display flex
  align-items center
  position relative
  background-color #4A4D5B
  border-radius 5px
  height 47px
  padding 14px 27px
  width max-content
  cursor pointer
  margin-right 15px
  .icon
    size(19px)
    fill #fff
    margin-right 10px
  input
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    width 100%
    height 100%
    line-height 0
    opacity 0
    cursor pointer
.migdex-add-file--name
  font-family Ow500
  font-size 14px
  color #fff

.migdex-max-size
  font-family Os600
  font-size 14px
  color #AFB0B6
  width 114px
  text-align center
  margin-right 50px
.migdex-added-files--wrap
  display flex
  align-items center
  margin-bottom 20px

.popup-load-loaded--file
  display flex
  align-items center
  background-color #4A4D5B
  border-radius 5px
  height 47px
  padding 18px 15px
  margin-right 30px
  margin-bottom 20px
.popup-load-icon-loaded--appeal
  display flex
  align-items center
  .icon
    size(27px)
    margin-right 12px
.popup-load-loaded--file__name
  font-family Os600
  font-size 14px
  color #fff
  margin-right 15px

.popup-delete-this--file
  cursor pointer
  .icon
    size(12px)
    fill #fff
.popup-load-icon-loaded--appeal__wrap
  display flex
  align-items center
.popup-load--file--wrap
  display flex
  align-items center
  flex-wrap wrap
.mb-30
  margin-bottom 30px !important