section.breadcrumb
    .container
        ul.breadcrumb-list
            a.breadcrumb-item(href="/") Главная
            a.breadcrumb-item(href="/") Готовые сайты
            a.breadcrumb-item(href="/") Интернет-магазины

