header
    .header-absolute
        .container
            .header-wrapper
                .header-logo.header-start
                    +logo('logo')

                .header-middle
                    .header-info
                        +icon('clock')
                        .header-info--text Пн - Вс с 09:00 до 20:00
                    .header-info
                        +icon('mail')
                        a.header-info--text(href="mailto:info@migdex.ru") info@migdex.ru
                .header-end
                    .header-tel-wrap
                        a.header-tel-text(href="tel:+79684060110") +7 (968) 406-01-10
                        .header-callback Обратный звонок
                    .header-end-attr
                        .header-user(data-toggle="modal" data-target="#popup-auth")
                            +icon('user')
                        .header-cart
                            +icon('cart')
        include ../modules/menu
        .header-menu--wrapper__mobile
            .container.d-flex.justify-content-between.align-items-center.p-0
                .header-info
                    +icon('mail')
                    a.header-info--text(href="mailto:info@migdex.ru") info@migdex.ru
                .header-sandwich
                    +icon('sandwich')

    .header-fixed
        .container
            .header-wrapper
                a.header-fixed--phone(href="tel:+79684060110")
                    +icon('header-phone')
                .header-logo.header-start
                    +logo('logo')
                .header-fixed-sandwich
                    +icon('sandwich')

                .header-menu--wrapper
                    ul.header-menu--list
                        a.header-menu--item(href="/") Готовые решения
                        a.header-menu--item(href="/") МАГАЗИН
                        a.header-menu--item(href="/") УСЛУГИ
                        a.header-menu--item(href="/") ПОРТФОЛИО
                        a.header-menu--item(href="/") Поддержка
                        a.header-menu--item(href="/") ПАРТНЕРАМ
                        a.header-menu--item(href="/") КОМПАНИЯ

                .header-end
                    .header-tel-wrap
                        a.header-tel-text(href="tel:+79684060110") +7 (968) 406-01-10
                        .header-callback Обратный звонок
                    .header-end-attr
                        .header-user(data-toggle="modal" data-target="#popup-auth")
                            +icon('user')
                        .header-cart
                            +icon('cart')



    .header-sandwich--menu
        .header-sandwich--menu__top
            .header-logo.header-start
                +logo('logo')
            .header-end-attr
                .header-user(data-toggle="modal" data-target="#popup-auth")
                    +icon('user')
                .header-cart
                    +icon('cart')
                .header-close--menu
                    +icon('close')
        .header-sandwich--menu__bottom
            ul.header-sandwich--menu__list
                a(href="/") Готовые решения
                a(href="/") Магазин
                a(href="/") Услуги
                a(href="/") Портфолио
                a(href="/") Поддержка
                a(href="/") Партнерам
                a(href="/") Компания
            .footer-social
                a.footer-soc-item(href="/")
                    +icon('vk')
                a.footer-soc-item(href="/")
                    +icon('fb')
                a.footer-soc-item(href="/")
                    +icon('yt')

