.header-menu--wrapper
    .container
        ul.header-menu--list
            a.header-menu--item(href="/") Готовые решения
            a.header-menu--item(href="/") МАГАЗИН
            a.header-menu--item(href="/") УСЛУГИ
            a.header-menu--item(href="/") ПОРТФОЛИО
            a.header-menu--item(href="/") Поддержка
            a.header-menu--item(href="/") ПАРТНЕРАМ
            a.header-menu--item(href="/") КОМПАНИЯ
