extends ../layout/main

block variables
    - var title = 'Магазин'
    - var pageClass = 'index-page'

block content
    include catalog/section1
    include ../modules/breadcrumbs
    include catalog/section2