extends ../layout/main

block variables
    - var title = 'Создание сайтов'
    - var pageClass = 'index-page seo-page'

block content
    include create-sites/section1
    include create-sites/section2
    include create-sites/section3
    include create-sites/section6
    include create-sites/section4
    include create-sites/section5
    include create-sites/section7
    include create-sites/section8
    include create-sites/section9
    include create-sites/section10
    include create-sites/section11
    include create-sites/section12
    include create-sites/section13