extends ../layout/main

block variables
    - var title = 'Оформление'
    - var pageClass = 'index-page header-relative'

block content
    include ../modules/breadcrumbs
    include oformlenie/section1