extends ../layout/main

block variables
    - var title = 'Портфолио'
    - var pageClass = 'index-page header-relative'

block content
    include ../modules/breadcrumbs
    include portfolio/section1