extends ../layout/main

block variables
    - var title = 'SEO'
    - var pageClass = 'index-page seo-page'

block content
    include seo/section1
    include seo/section2
    include seo/section3
    include seo/section4
    include seo/section5
    include seo/section6
    include seo/section7
    include seo/section8
    include seo/section9
    include seo/section10
    include seo/section11
    include seo/section12
    include seo/section13