extends ../layout/main

block variables
    - var title = 'SEO'
    - var pageClass = 'index-page'

block content
    include seo/section1
    include seo/section2
    include seo/section3
    include seo/section4
    include seo/section5