extends ../layout/main

block variables
    - var title = 'Поддержка'
    - var pageClass = 'index-page header-relative'

block content
    include ../modules/breadcrumbs
    include support/section1
    include support/section2