@media screen and (max-width: 1280px)
  .index-video-slider--prev
    margin-left 30px
  .index-video-slider--next
    margin-right 30px
  .slide-main--title
    font-size 48px
    margin-bottom 40px
@media screen and (max-width: 1199px)
  .section-services-block
    width 100%
  .section-services-img
    size(75px)
    margin-right 20px
  .section-services-title
    font-size 21px
  .header-info
    margin-right 30px
  .header-logo
    margin-right 20px
  .header-info--text
    font-size 17px
  .header-tel-text
    font-size 22px
  .header-callback
    font-size 15px
  .header-menu--item
    font-size 14px
  .index-video-slider .slick-list
    margin 0 -25px
  .index-video-slider-source
    width 75%
  .slide-main--title
    font-size 45px
  .section-title
    font-size 33px
  .section-desc
    font-size 15px
  .section-services-img
    size(65px)
  .section-services-text
    font-size 13px
    margin-bottom 20px !important
  .section-services-top
    margin-bottom 20px
  .section-services-anno
    font-size 13px
  .slider-wave--title
    font-size 26px
  .slider-wave--count
    font-size 26px
  .slider-wave--count span
    font-size 20px
  .slider-wave--count span:last-child
    font-size 16px
  .slider-wave--desc
    font-size 13px
  .slider-wave--title__wrap
    margin-bottom 20px
  .slider-wave-slide--img
    size(38px)
  .slider-wave-slide--item
    size(68px)
  .slider-wave-slide--item__text
    font-size 12px
  .wave-slide--item
    margin 0 10px
  .slider-wave--desc
    margin-bottom 30px
  .section-why-desc
    font-size 13px
  .section-works--content p
    font-size 16px
    text-align center
  .slider-wave-input-wrapper
    flex-direction column
    input
      &:first-child
        margin-right 0
      margin-bottom 20px
  .slider-wave--title.mb-70
    margin-bottom 30px
  .slider-wave-input-wrapper.mb-70
    margin-bottom 30px
  .section-review-all
    font-size 15px
  .section-rev--bottom
    font-size 13px
  .section-rev--title
    font-size 16px
    margin-bottom 5px
  .section-rev--desc
    font-size 12px
  .section-rev--link
    font-size 13px
  .section-blog--item__img
    height 200px
  .section-blog--item__title
    font-size 15px
    margin-bottom 20px
  .section-migdex-content-hit,.section-migdex-content-stock
    font-size 13px
    height 35.5px
    display flex
    justify-content center
    align-items center
    &:before
      top 35.5px
  .section-blog--item__date
    font-size 13px
  .how-job--top
    flex-direction column
    align-items flex-start
    margin-bottom 12px
  .how-job-img
    margin-bottom 20px
  .how-job--top:after
    font-size 65px
    line-height 1
  .w-1030
    max-width 900px
  .content
    background-size auto
  .section-template-content--img
    size(85px)

  .section-migdex-content--price
    font-size 15px
  .section-migdex-content--text
    font-size 12px
  .section-migdex-tab
    padding: 15px 10px
  .magazin-mb
    margin-bottom 60px
  .section-template-flex-wrap
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 0px;

  .section-template-content--item__wrap
    &:first-child
      grid-area: 1 / 1 / 2 / 2;
    &:nth-child(2)
      grid-area: 1 / 2 / 3 / 3;
      margin-top 0
    &:last-child
      grid-area: 2 / 1 / 3 / 2;

  .section-template-content--item__wrap:nth-child(2):before
    transform: translate(-214px, -135px);
    background-image url("/static/img/content/pun-mobile1.png")
    width: 365px;
    height: 180px;
  .section-template-content--item__wrap:nth-child(2):after
    width: 350px;
    height 170px
    transform: translate(-178px, 63px);
    background-image url("/static/img/content/pun-mobile2.png")

  .section-baner
    height auto
  .baner-desc
    font-size 15px
  .baner-desc-v2
    font-size 14px
  .baner-desc-dual
    margin-bottom 30px
  .migdex-products--title
    font-size 20px
  .migdex-people-count span
    font-size 15px
  .migdex-lk-content--box__section
    overflow hidden


@media screen and (max-width: 992px)
  .header-info:first-child
    display none
  .slide-main-content
    display flex
    flex-direction column

  .slide-main-page
    align-items flex-start
    padding-top 200px
  .slide-main--title
    font-size 42px
  .header-tel-wrap
    margin-right 30px
  .header-menu--item
    font-size 12px
  .section-wave--content
    flex-direction column
  .section-wave--left, .section-wave--right
    width 100%
  .wave-slide--item
    margin 0 60px
    max-width 100%
    margin-bottom 25px
  .wave-arrows
    right 65px
  .section-wave--right
    padding-top 20px
  .slider-wave--desc
    text-align center
  .slider-wave--title
    width 100%
    text-align center
    padding-left 10%
  .slider-wave-slide--items
    flex-direction column
    flex-flow column-reverse
    align-items center
  .slider-wave-slide--price
    margin-bottom 40px
  .how-job--col
    margin-bottom 30px
  .section-how-job
    margin-bottom 0
  .how-job-video
    padding 0
  .section-wave--left2
    display flex
    justify-content center
    img
      max-width 450px
  .slider-wave-input-wrapper
    flex-direction row
  .slider-wave-input-wrapper input:first-child
    margin-right 30px
  .slider-wave-slide--items2
    flex-direction row
  .index-video-slider-item
    opacity 0
  .index-video-slider-item.slick-active
    opacity 1
  .index-video-slider-source
    width 100%
  .index-video-slider .slick-list
    margin 0 -45px
  .index-video-slider--next
    margin-right 10px
  .index-video-slider--prev
    margin-left 10px
  .section-rev-col
    margin-bottom 30px
  .migdex-callback
    width 220px !important
    margin 0
  .footer-list-link
    font-size 12px
  .section-rev-block,.section-blog-block
    margin 0 -45px
  .section-blog-block
    margin-bottom 30px
  .p-60-0
    padding 30px 0
  .section-services-anno
    display none
  .section-services--mobile
    display flex
  .section-services-block
    justify-content space-between
    padding 20px
  .header-fixed-menu--abs
    background-color #4A4C55
    .header-fixed--list__wrap
      right 0
      left auto
      top 51px
  .section-main-page
    display none
  .section-main-page__mobile
    display block
  .slide-main-content
    align-items center
    margin 0 auto
  .slide-main--title
    text-align center
  .header-menu--wrapper
    backdrop-filter none
    background: rgba(43,47,63,0.9);
  .wave-section
    margin-bottom 70px
  .section-template-content--item__wrap:nth-child(2):before
    transform: translate(-173px, -150px);
    width: 326px;
    height: 197px;
  .section-template-content--item__wrap:nth-child(2):after
    width: 325px;
    height: 170px;
    transform: translate(-162px, 39px);
  .support-request
    padding 40px 30px
  .sidebar-services
    display none
  .row-list-services--mobile
    display flex
    border-radius 5px
    padding 15px
    overflow-x auto
    margin-bottom 30px
  .row-services--item
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald 500', sans-serif;
    font-size: 14px;
    color: #fff;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    height: 47px;
    transition: all linear 0.2s;
    padding: 15px 25px;
    margin-right: 15px;
    white-space: nowrap;
    cursor: pointer;
    &:hover
      background: linear-gradient(92.29deg, #f37535 0%, #fdc630 100%);
      box-shadow: 0 0 15px rgba(253,200,48,0.7);
      color #fff !important
  .section-services--wrapper
    flex-direction column
  .content-services
    padding-left 0
  .section-basket--wrap
    flex-direction column
  .basket-content
    padding 0
    margin-bottom 30px
  .basket-sidebar
    padding 0
  .basket-over-body
    height auto
    min-height auto
  .section-ofor--wrap
    display flex
    flex-direction column
  .basket-content-ofor
    padding 0
    margin-bottom 30px
  .basket-sidebar-ofor
    padding 0
  .section-lk--wrap
    flex-direction column-reverse
  .migdex-lk-content
    padding 0
    margin-bottom 30px
  .migdex-lk-sidebar
    padding 0

@media screen and (max-width: 768px)
  .footer-right
    display none
  .footer-block:nth-child(2),.footer-block:nth-child(3)
    display none
  .footer-left
    justify-content center
  footer
    padding 30px 0
  .footer-block--mobile
    align-items center
    width 100%
    .migdex-callback
        margin-bottom 15px
  .footer-links--mobile
    display flex
    flex-wrap wrap
    width 100%
    a
      width 48%
      font-family Ow500
      font-size 14px
      color #fff
      text-align center
      margin-bottom 30px
  .header-fixed
    .header-menu--wrapper
      display none
  .header-middle
    display none
  .header-menu--wrapper
    backdrop-filter none
  .header-fixed--list__wrap
    right 0
    left auto
    top 52px
  .header-fixed-menu--hidden
    background-color #4A4C55
  .header-menu--wrapper
    background: rgba(43,47,63,0.9);
  .slide-main--title
    text-align center
  .slide-main-page
    padding-top 170px
  .slide-main--title
    margin-bottom 25px
  .section-rev-block, .section-blog-block
    margin 0 -15px
  .index-video-slider .slick-list
    margin 0
    padding-left 6% !important
    padding-right 6% !important
  .index-video-slider
    margin 0 -15px
  .index-video-slider .slick-current
    transform scale(1)
  .index-video-slider--prev
    margin-left 0
  .index-video-slider--next
    margin-right 0
  .section-title
    font-size 28px
  .section-services-img
    size(52px)
  .section-services-title
    font-size 19px
  .footer-links--mobile
    display flex
  .footer-block--mobile
    .migdex-button-wrap
      display flex
    .footer-download
      display block
  .header-menu--wrapper
    display none
  .header-menu--wrapper__mobile
    display flex
    justify-content space-between
    align-items center
    background: rgba(43, 47, 63, 0.9);
    backdrop-filter: blur(20px);
    padding 15px
    .header-info
      display flex
    .header-sandwich
      cursor pointer
      .icon
        size(30px)
        fill #fff
  .slide-main--title
    font-size 30px
  .slide-main-page
    padding-top 185px
  .header-logo .icon
    size(80px)
  .header-sandwich--menu
    position fixed
    display block
    left 0
    top 0
    bottom 0
    right 0
    background: rgba(43, 47, 63, 1);
    //backdrop-filter: blur(20px);
    z-index 999
    transition .4s ease
    transform translateX(-100vw)
    will-change transform
  .header-sandwich--menu__top
    display flex
    align-items center
    justify-content space-between
    padding 10px 15px
    border-bottom 1px solid rgba(255,255,255,0.15)

  .header-close--menu
    margin-left 40px
    cursor pointer
    .icon
      size(23px)
      fill #fff
  .header-sandwich--menu.active
    transform translateX(0)
  .header-sandwich--menu__bottom
    display flex
    flex-direction column
    justify-content space-between
    height calc(100vh - 101px)
    padding-bottom 30px
  .header-sandwich--menu__list
    display flex
    flex-direction column
    align-items center
    overflow-y auto
    height 100%
    padding 30px
    a
      font-family Os600
      font-size 15px
      color #fff
      margin-bottom 30px
      text-transform uppercase
      &:last-child
        margin-bottom 0
  .section-services-text
    min-height 38.4px
  .section-services-col
    margin-bottom 0
    outline none
  .migdex-button
    padding 13px 18px
    font-size 15px
  .section-works--content p
    font-size 14px
    margin-bottom 40px
  .slider-wave-slide--items
    flex-direction row
  .slider-wave-slide--price
    margin-bottom 0
  .slider-wave--title
    text-align left
    padding-left 0
    font-size 22px
  .slider-wave--count
    font-size 22px
  .slider-wave--count span
    font-size 18px
  .slider-wave--count span
    font-size 14px
  .slider-wave-slide--price
    font-size 26px
  .slider-wave--desc
    text-align left
  .how-job--col
    margin-bottom 0
  .js-how-dots--wrap
    margin-bottom 25px
  .how-job--text
    min-height 57.6px
  .section-rev-col
    margin-bottom 0
  .section-blog-block
    margin-bottom 30px
  .section-map-sub
    max-width 530px
  .section-migdex-tabs
    flex-wrap wrap
  .section-migdex-tab
    margin 0 15px
    margin-bottom 15px
    &:last-child
      margin-right 15px
  .section-template-content--title
    font-size 16px
  .section-template-content--desc
    font-size 12px
  .section-template-flex-wrap
    padding 0

  .section-template-flex-wrap
    gap: 60vh 0px;
  .section-template-content--item__wrap:nth-child(2):before
    background-image url("/static/img/content/pun-m1.png")
    transform: translate(-117px, -290px);
    width: 230px;
    height: 336px;
  .section-template-content--item__wrap:nth-child(2):after
    transform: translate(-142px, 32px);
    width: 230px;
    height: 336px;
    background-image url("/static/img/content/pun-m2.png")
  .breadcrumb
    padding 10px 0
    overflow-x scroll
  .breadcrumb-item
    white-space nowrap
  .baner-wrapper
    flex-direction column
  .baner-desc
    margin-bottom 20px
  .section-baner
    height 100vh
  .section-baner .baner-wrapper
    height auto
  .baner-desc-dual
    margin-bottom 0
  .section-baner
    padding-top 170px
    height auto
  .baner-bg--img
    height 255px
  .migdex-products--desc
    font-size 12px
  .section-migdex-content--item.p-30
    padding 15px
  .section-migdex-content--item.p-40-55
    padding 15px
  .migdex-products-card--list
    margin-bottom 10px
  .migdex-people-count
    margin-bottom 20px
  .migdex-products--title
    margin-bottom 30px !important
  .migdex-products-card--item
    font-size 13px
  .support-img
    size(50px)
  .support-item--text
    font-size 13px
  .basket-content-bottom__item
    flex-direction column
  .baslet-content-bottom--left,.baslet-content-bottom--right
    width 100%
  .baslet-content-bottom--right
    display flex
    justify-content space-between
    align-items center
    flex-flow: row-reverse;
  .baslet-content-bottom--left
    margin-bottom 20px
  .basket-content-item--count
    margin-bottom 0
    overflow-x auto

  .migdex-tabs-ofor
    .section-migdex-tab
      min-width max-content
      margin 0
      margin-bottom 0
      margin-right 10px
      white-space nowrap
      &:last-child
        margin-right 0
  .w-66
    width 100%
  .chat-container-header--info__desk
    display none
  .chat-container-header--info__mobile
    display block
  .chat-container-header--desc a
    margin-left 0
    color #AFB0B6
  .chat-container-message--wrapper
    max-width 85%
  .chat-container--message
    font-size 13px
  .chat-container-message--date__name span
    font-size 13px
  .migdex-lk-content--product--middle--right
    display none
  .migdex-lk-content--summ__mobile
    display flex
    justify-content space-between
    align-items center
    margin-bottom 20px
    span
      font-family Ow500
      font-size 19px
      color #fff
  .migdex-lk-content--product--middle--left
    font-size 15px
  .migdex-lk-content--product--pay--block__title
    font-size 13px
  .migdex-lk-product--img
    width 75px




@media screen and (max-width: 576px)
  .header-absolute
    .header-end-attr
      display none
    .header-tel-wrap
      margin-right 0
  .header-logo .icon
    size(72px)
  .header-tel-text
    font-size 18px
  .header-callback
    font-size 12px
  .header-info .icon
    size(19px)
  .header-info--text
    font-size 14px
  .slide-main--title
    font-family Ow500
    text-transform uppercase
    font-size 20px
    width 65%
  .modal-content
    padding 20px
  .header-fixed
    .header-end
      display none
    .header-logo .icon
      size(45px)
  .header-fixed--phone,.header-fixed-sandwich
    display flex
  .section-title
    font-size 24px
  .section-desc
    font-size 14px
    margin-bottom 30px !important
  .section-services-col
    padding 0 5px
  .section-services-block
    min-height 260px
  .wave-arrows
    right 0
  .wave-slide--item
    margin 0
    margin-bottom 25px
  .slider-wave--title
    font-size 18px
  .slider-wave-slide--item
    size(60px)
    .icon
      size(34px)
  .slider-wave-slide--item__text
    font-family Os400
    font-size 11px
  .section-why-col
    padding 5px
    margin-bottom 0px
  .section-why-choise
    padding 0 10px
  .section-why-block
    padding 20px 10px
  .section-why--img
    size(50px)
  .section-why-desc
    font-size 12px
  .section-why-desc
    font-family Ow400
  .section-works-col
    margin-bottom 15px
  .slider-wave-slide--price
    font-size 18px
  .slider-wave-slide--items
    .migdex-button
      width 200px
  .how-job--col
    padding 0 5px
  .how-job--text
    font-size 12px
  .how-job--item
    min-height 250px
  .how-job-video--wrap
    padding 5px
  .slider-wave-input-wrapper
    flex-direction column
  .slider-wave-input-wrapper input:first-child
    margin-right 0
  .migdex-input--wave
    height 47px
  .section-review-all
    display none
  .index-video-slider-arrow
    display none
  .index-video-slider-source
    height 210px
    border: 5px solid #2b2f3f;
  .section-rev--left
    margin-right 15px
  .section-rev--link
    display flex
    margin 0 auto
  .section-blog--item
    padding 10px
  .section-blog--item__img
    height 220px
  .section-blog--item__title
    font-family Ow500
  .section-map-sub
    max-width 90%
    padding 15px
  .map-title
    font-size 20px
  .map-desc
    font-size 14px
    margin-bottom 15px
  .section12.pt-200
    padding-top 100px
  .footer-copyright--link
    display none
  .footer-copyright-protect
    width 100%
    text-align center
  .section-template-content--desc
    padding 0
    margin-top 10px
    max-height 105px
  .section-template-flex-wrap
    gap: 400px 0px;
  .section-template-content--desc:nth-child(2)
    padding 0
    margin-top 10px

  .section-template-content--item__wrap:nth-child(2):before
    transform: translate(-25vw, -315px) rotate(-17deg);
    width: 150px;
    height: 350px;
    background-size: contain;
  .section-template-content--item__wrap:nth-child(2):after
    transform: translate(-77px, 42px);
    width: 150px;
    height: 330px;
    background-size contain
  .section-template-content--item__wrap
    &:nth-child(3)
      transform translateX(15vw)
  .breadcrumb-item
    font-size 12px
  .section-migdex-tabs
    margin 0 -5px
    margin-bottom 30px
  .section-migdex-tab
    width 47%
    margin 0 5px
    margin-bottom 10px
    &:last-child
      margin-right 5px
  .baner-desc-dual
    display none
  .support-request
    border-radius 0
    padding 40px 15px
  .mobile-support-padding-0
    padding 0
  .section-services--wrapper
    .section-migdex-content--wrap
      margin 0
  .row-list-services--mobile
    border-radius 0
  .basket-content-item--desc
    display none
  .basket-content-img
    width 100px
    margin-right 15px
  .baslet-content-bottom--left
    margin-bottom 10px
  .basket-content-top
    margin 0 -15px
    border-radius 0
    margin-bottom 15px
  .basket-content-bottom__item
    margin 0 -15px
    margin-bottom 15px
    border-radius 0
  .basket-over
    margin 0 -15px
    border-radius 0
  .migdex-tabs-ofor,.basket-ofor-block
    margin 0 -15px
    margin-bottom 30px
    border-radius 0
  .blue-box
    margin 0 -15px
    border-radius 0
    margin-bottom 30px
  .migdex-lk-content--flex
    flex-direction column-reverse
  .migdex-lg-content--block--w-70
    width 110%
  .migdex-lk-content--profile__wrap
    flex-direction row
  .migdex-lg-content--block--w-30
    width 100%
  .migdex-lk-content--profile
    margin-right 15px
  .basket-content-top-dot__item
    min-width 19px
  .migdex-lk-settings-title
    font-size 12px
  .migdex-lk-settings-dot--text
    font-size 12px
  .migdex-lk-sidebar--item
    font-size 13px
  .migdex-lk-content--box
    padding 15px
  .migdex-lk-content--desc
    font-size 12px
  .migdex-lk-profile--mobile
    display flex
    padding 15px
  .migdex-lk-content--profile--mob
    display flex
    flex-direction column
  .migdex-lg-content--block--w-30
    display none !important
  .migdex-lk-content--profile
    margin-bottom 0
  .migdex-lk-nav--mobile
    display flex
    align-items center
    padding 15px
  .migdex-lk-nav--mobile__icon
    margin-right 15px
    .icon
      size(13px)
      fill #fff
      transform rotate(90deg)
  .migdex-lk-nav--mobile__name
    font-family Ow500
    font-size 17px
    color #fff
  .migdex-lg-content--block--w-70
    width 100%
    margin 0
    .col-sm-12
      padding 0
  .migdex-lk-nav--right
    display flex
    align-items center
    .icon
      size(20px)
      fill #fff
  .migdex-lk-nav--list,.migdex-lk-nav--filter
    display flex
    justify-content center
    align-items center
    background-color #363949
    border-radius 5px
    size(37px)
  .migdex-lk-nav--list
    margin-right 10px
  .migdex-lk-nav--left
    display flex
    align-items center
  .migdex-lk-desc--filter
    display none !important
  .migdex-popup-input-cols--flex
    flex-direction column
  .popup-body
    .migdex-popup-input--col
      padding 0
  .migdex-table
    display flex
    flex-direction column
    thead
      display none
    tbody tr
      display flex
      flex-direction column
      margin-bottom 10px
      border-radius 5px
      td
        border-radius 0
        padding 7.5px 15px
        color #AFB0B6
        &:first-child

          border-radius 0
          border-bottom 1px solid rgba(255,255,255,0.1)
        .migdex-lk-table--block
          display flex
          justify-content space-between

  .migdex-lk-content--box__top--title
    display none
  .personal-fixed-chat--container
    position fixed
    top 0
    bottom 0
    right 0
    left 0
    z-index 2000
    .chat-container-main
      height calc(100vh - 160px) !important
    .chat-container-block
      border-radius 0
  .chat-container-message--wrapper
    max-width 90%
  .migdex-lk-sidebar
    display none
  .mobile-over-hidden
    overflow hidden
  .migdex-lk-content-mat--item__name
    font-size 13px
  .migdex-lk-content--box__bottom2
    padding 15px
  .migdex-lk-content--mat--top
    display none
  .w-date
    display none
  .w-20
    width 30%
  .migdex-lk-content-mat--item span
    font-size 12px
  .w-name
    display none
  .migdex-lk-content--product--pay--item
    max-width 100%
    margin-right 0


//.section-template-content--item__wrap



