section.section5
    .container.padding-container--mobile__0
        .section-wrap
            .section-title.mb-70.mb-mobile-30 Дополнительные услуги
            ul.migdex-seo-wrap.section-migdex-wrap.row
                li.col-xl-4.col-lg-4.col-md-6.col-sm-6.migdex-seo-cols
                    .migdex-seo-block.blue-box.before-none
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo10.svg")
                        .migdex-seo-migdex--name Migdex
                        .migdex-seo-title Работа программиста
                        .migdex-button-wrap.align-items-center.justify-content-start
                            .migdex-button-block.w-140.mr-15 Заказать
                            .migdex-seo-price от 1 500 ₽/час
                li.col-xl-4.col-lg-4.col-md-6.col-sm-6.migdex-seo-cols
                    .migdex-seo-block.blue-box.before-none
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo11.svg")
                        .migdex-seo-migdex--name Migdex
                        .migdex-seo-title Копирайтинг
                        .migdex-button-wrap.align-items-center.justify-content-start
                            .migdex-button-block.w-140.mr-15 Заказать
                            .migdex-seo-price от 200 ₽/1 000 с.
                li.col-xl-4.col-lg-4.col-md-6.col-sm-6.migdex-seo-cols
                    .migdex-seo-block.blue-box.before-none
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo12.svg")
                        .migdex-seo-migdex--name Migdex
                        .migdex-seo-title Настройка рекламы в Яндекс и Гугл
                        .migdex-button-wrap.align-items-center.justify-content-start
                            .migdex-button-block.w-140.mr-15 Заказать
                            .migdex-seo-price от 10 000 ₽