section.section3.p-60-0
    .container
        .section-wrap
            .section-title Тарифы на seo продвижение
            p.section-desc.mb-5 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
            .section-migdex-wrap
                .section-migdex-seo--wrap.blue-box
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            +logo('migdex-seo')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-yellow--title Тариф “Старт”
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-yellow--title Тариф “Стандарт”
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-yellow--title Тариф “Комплекс”
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Стандартная SEO настройка
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Стандартная SEO настройка
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Поисковые запросы
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text до 500
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text до 1 000
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Все запросы тематики
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Конкурентность запросов
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Средне и низкочастотные
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Высокочастотные
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Высокочастотные
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text KPI проекта
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check--del
                                +icon('check-del')
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text По позициям / трафику
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text По позициям / трафику
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Создание стратегии поискового продвижения
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Комплексная стратегия интернет-продвижения
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Конкурентный анализ
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Выявление преимуществ сайта сильнейшего конкурента
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Наращивание медиаконтентных активов - контент, ссылка или CRO актив
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text 10 / мес.
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text 18 / мес.
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text 25 / мес.
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Веб-разработка
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text До 13 часов / мес.
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text До 17 часов / мес.
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text До 27 часов / мес.
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Аналитика по конверсиям, сайту, аудитории, конкурентному окружению
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check--del
                                +icon('check-del')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Увеличение значимости сайта, работа над репутацией в сети
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                    .section-migdex-seo--line
                        .section-migdex-seo--block.w-25
                            .section-migdex-seo--text Система контроля качества
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .migdex-seo-icon--check
                                +icon('check-ok')
                        .section-migdex-seo--block__v2.w-25
                            .section-migdex-seo--text Участие в проекте начальника SEO-отдела
                    .section-migdex-seo--line
                        .section-migdex-seo--block.section-migdex-seo--question.w-25
                            .migdex-seo--question__title Остались вопросы?
                            .migdex-seo--question__desc Оставьте заявку, мы с Вами свяжемся!
                            .migdex-button-block Оставить заявку
                        .section-migdex-seo--price-wrap.w-25
                            .section-migdex-seo-price от 45 000 ₽ / месяц
                            .migdex-button-block Оставить заявку
                        .section-migdex-seo--price-wrap.w-25
                            .section-migdex-seo-price от 65 000 ₽ / месяц
                            .migdex-button-block Оставить заявку
                        .section-migdex-seo--price-wrap.w-25
                            .section-migdex-seo-price от 120 000 ₽ / месяц
                            .migdex-button-block Оставить заявку