section.section5
    .container
        .section-wrap
            .section-title Наше портфолио
            p.section-desc.mb-70 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
            .section-migdex-wrap