section.section7.p-60-0.mb-25
    .container.mb-120
        .section-wrap
            .section-title Наши клиенты
            p.section-desc.mb-5 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
    .section-wave
       .section-wave--content
           .section-wave--sliders
               .section-wave--slider__top
                   .section-wave--slider--partner
                       +icon('adidas','adidas-size')
                   .section-wave--slider--partner
                       +icon('philips','philips-size')
                   .section-wave--slider--partner
                       +icon('iphone','iphone-size')
                   .section-wave--slider--partner
                       +icon('samsung','samsung-size')
                   .section-wave--slider--partner
                       +icon('coca-cola','coca-cola-size')
                   .section-wave--slider--partner
                       +icon('solomon','solomon-size')
                   .section-wave--slider--partner
                       +icon('adidas','adidas-size')
                   .section-wave--slider--partner
                       +icon('philips','philips-size')
                   .section-wave--slider--partner
                       +icon('iphone','iphone-size')
                   .section-wave--slider--partner
                       +icon('samsung','samsung-size')
                   .section-wave--slider--partner
                       +icon('coca-cola','coca-cola-size')
                   .section-wave--slider--partner
                       +icon('solomon','solomon-size')
                   .section-wave--slider--partner
                       +icon('adidas','adidas-size')
                   .section-wave--slider--partner
                       +icon('philips','philips-size')
                   .section-wave--slider--partner
                       +icon('iphone','iphone-size')
                   .section-wave--slider--partner
                       +icon('samsung','samsung-size')
                   .section-wave--slider--partner
                       +icon('coca-cola','coca-cola-size')
                   .section-wave--slider--partner
                       +icon('solomon','solomon-size')
               .section-wave--slider__bottom(dir="rtl")
                   .section-wave--slider--partner
                       +icon('paypal','paypal-size')
                   .section-wave--slider--partner
                       +icon('vogue','vogue-size')
                   .section-wave--slider--partner
                       +icon('gefest','gefest-size')
                   .section-wave--slider--partner
                       +icon('amazon','amazon-size')
                   .section-wave--slider--partner
                       +icon('the-north','the-north-size')
                   .section-wave--slider--partner
                       +icon('sony','sony-size')
                   .section-wave--slider--partner
                       +icon('paypal','paypal-size')
                   .section-wave--slider--partner
                       +icon('vogue','vogue-size')
                   .section-wave--slider--partner
                       +icon('gefest','gefest-size')
                   .section-wave--slider--partner
                       +icon('amazon','amazon-size')
                   .section-wave--slider--partner
                       +icon('the-north','the-north-size')
                   .section-wave--slider--partner
                       +icon('sony','sony-size')