section.section11.p-60-0.mb-25
    .section-wave
        .container
            .section-wave--content
                .section-wave--left
                    img.wave-slide--item(src="./static/img/content/svg/illu3.svg")

                form.section-wave--right
                    .slider-wave--title.text-center.mb-70 Оставьте заявку на SEO продвижение Вашего сайта прямо сейчас !
                    .slider-wave-input-wrapper.mb-70
                        input.migdex-input--wave.mr-30(type="text" placeholder="Адрес сайта")
                        input.migdex-input--wave(type="tel" data-mask="+7 (000) 000-00-00" placeholder="Телефон")
                    button.migdex-button.m-0-auto Заказать SEO продвижение