section.section3.p-60-0
    .container
        .section-wrap
            .section-title Тарифы на seo продвижение
            p.section-desc.mb-5 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
            .section-migdex-wrap
                .section-migdex-seo--wrap.blue-box
                    .section-migdex-seo--block.w-25
                        +logo('migdex-seo','mb-30')
                        .section-migdex-seo--text Стандартная SEO настройка
                        .section-migdex-seo--text Поисковые запросы
                        .section-migdex-seo--text Конкурентность запросов
                        .section-migdex-seo--text KPI проекта
                        .section-migdex-seo--text Создание стратегии поискового продвижения
                        .section-migdex-seo--text Конкурентный анализ
                        .section-migdex-seo--text Наращивание медиаконтентных активов - контент, ссылка или CRO актив
                        .section-migdex-seo--text Веб-разработка
                        .section-migdex-seo--text Аналитика по конверсиям, сайту, аудитории, конкурентному окружению
                        .section-migdex-seo--text Увеличение значимости сайта, работа над репутацией в сети
                        .section-migdex-seo--text Система контроля качества
                        .section-migdex-seo--question
                            .migdex-seo--question__title Остались вопросы?
                            .migdex-seo--question__desc Оставьте заявку, мы с Вами свяжемся!
                            .migdex-button-block Оставить заявку
                    .section-migdex-seo--block__v2.w-25
                    .section-migdex-seo--block__v2.w-25
                    .section-migdex-seo--block__v2.w-25
