section.section4.p-60-0.pb-0
    .container
        .section-wrap
            .section-title Продвижение по тематикам
            p.section-desc.mb-70 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
            ul.migdex-seo-wrap.section-migdex-wrap.row
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo1.svg")
                        .migdex-seo-title Продвижение медицинских сайтов
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo2.svg")
                        .migdex-seo-title Продвижение строительных сайтов
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo3.svg")
                        .migdex-seo-title Продвижение сайтов услуг
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo4.svg")
                        .migdex-seo-title Продвижение корпоративных сайтов
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo5.svg")
                        .migdex-seo-title Продвижение интернет магазина одежды
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo6.svg")
                        .migdex-seo-title Продвижение интернет магазина автозапчастей
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo7.svg")
                        .migdex-seo-title Продвижение интернет магазинов
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo8.svg")
                        .migdex-seo-title Продвижение интернет магазинов косметики
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
                li.col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-seo-cols
                    .migdex-seo-block.blue-box
                        .migdex-seo-icon
                            img.migdex-seo-icon--img(src="/static/img/content/svg/seo9.svg")
                        .migdex-seo-title Продвижение интернет магазинов сантехники
                        .migdex-button-wrap.justify-content-start
                            .migdex-button-block.w-140 Заказать
