section.section12.p-60-0
    .container
        .section-wrap
            .section-title.mb-15 Ответы на популярные вопросы
            p.section-desc.mb-50 Мы постарались ответить на самые часто задаваемые вопросы. Если у Вас остались вопросы напишите в онлайн чат ниже.
            .section-migdex-wrap
                .answer-on-question.row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.answer-on-question--col
                        .answer-on-question--item
                            .answer-on-question--top
                                .answer-on-question--dot
                                .answer-on-question--title Pulvinar ut id amet, euismod eget sed congue nunc, risus. Eget praesent ?
                            .answer-on-question--bottom Amet accumsan donec vitae mattis magnis. At gravida neque enim tortor volutpat sed in. Pellentesque pharetra malesuada mi fermentum, commodo aliquet praesent. Odio vestibulum sodales interdum suscipit aenean sed ut velit.
                                br
                                br
                                | Quam morbi id eu, vitae mattis viverra. Ultrices turpis quis bibendum diam sodales rhoncus semper massa tempus. Varius maecenas fermentum commodo arcu, mi urna ut varius. Molestie ut quisque porta donec adipiscing vitae.
                .migdex-button-wrap.migdex-seo-consult--button
                    .migdex-button Онлайн чат с консултантом