section.section6.p-60-0
    .container
        .section-wrap
            .section-title Наше портфолио
            p.section-desc.mb-70 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
            .section-migdex-wrap
                .migdex-seo-portfolio--slider
                    .migdex-seo-portfolio--content
                        .migdex-seo-portfolio--left#seo-left
                            img.migdex-seo-portfolio--left__item(src="./static/img/content/seo/seo1.png")
                            img.migdex-seo-portfolio--left__item(src="./static/img/content/seo/seo1.png")
                            img.migdex-seo-portfolio--left__item(src="./static/img/content/seo/seo1.png")
                        .migdex-seo-portfolio--right
                            .migdex-seo-portfolio--right--wrap#seo-right
                                .migdex-seo-portfolio--right__item
                                    .migdex-seo-portfolio--title Продвижение сайта “Название”
                                    .migdex-seo-portfolio--desc Рост трафика:
                                        span с 0 до 90 000 посетителей в год
                                    .migdex-seo-portfolio--option Собрали семантику
                                    .migdex-seo-portfolio--option Проработали структуру
                                    .migdex-seo-portfolio--option Поставили ТЗ программисту по доработке сайта
                                    .migdex-seo-portfolio--option Купили ссылок
                                    .migdex-seo-portfolio--option Разместили сайт в каталогах
                                    .migdex-seo-portfolio--option Сделали SERM
                                .migdex-seo-portfolio--right__item
                                    .migdex-seo-portfolio--title Продвижение сайта “Название” 2
                                    .migdex-seo-portfolio--desc Рост трафика:
                                        span с 0 до 90 000 посетителей в год
                                    .migdex-seo-portfolio--option Собрали семантику
                                    .migdex-seo-portfolio--option Проработали структуру
                                    .migdex-seo-portfolio--option Поставили ТЗ программисту по доработке сайта
                                    .migdex-seo-portfolio--option Купили ссылок
                                    .migdex-seo-portfolio--option Разместили сайт в каталогах
                                    .migdex-seo-portfolio--option Сделали SERM
                                .migdex-seo-portfolio--right__item
                                    .migdex-seo-portfolio--title Продвижение сайта “Название” 3
                                    .migdex-seo-portfolio--desc Рост трафика:
                                        span с 0 до 90 000 посетителей в год
                                    .migdex-seo-portfolio--option Собрали семантику
                                    .migdex-seo-portfolio--option Проработали структуру
                                    .migdex-seo-portfolio--option Поставили ТЗ программисту по доработке сайта
                                    .migdex-seo-portfolio--option Купили ссылок
                                    .migdex-seo-portfolio--option Разместили сайт в каталогах
                                    .migdex-seo-portfolio--option Сделали SERM
                            .migdex-seo-portfolio--buttons
                                .migdex-button-wrap
                                    .migdex-button-block.w-175 Оставить заявку
                                .migdex-seo-slider--nav
                                    .migdex-seo-slider--prev
                                        +icon('arrow-down')
                                    .migdex-seo-slider--next
                                        +icon('arrow-down')