section.section2.p-60-0
    .container.padding-container--mobile__0
        .section-wrap
            .section-title Продвижение сайтов в Москве
            p.section-desc.mb-5 Vulputate tristique malesuada morbi eget. Justo sagittis gravida.
            .section-dual-block
                .section-dual-block--item
                    .migdex-dual-block--left.blue-box
                        .migdex-dual-block--name Migdex
                        .migdex-dual-block--desc Мы предлагаем заказать seo продвижение в Москве в компании Migdex, так как мы готовы отвечать за результат и прописываем данное условие в договоре. Компания Migdex более 7 лет на рынке SEO услуг, мы продвинули более 50 сайтов в топ поисковых систем, привели более 5 000 000 трафика на сайты клиентов.
                            br
                            br
                            | Заказывая seo продвижение у нас мы дарим вам 14 дней бесплатного продвижения сайта
                    .migdex-dual-block--right.blue-box
                        .migdex-dual-block--name.mb-10.text-center Оставьте заявку
                        .migdex-dual-block--desc.w-72p.text-center.m-0-auto.mb-30 Специалист перезвонит Вам в течении 10 минут!
                        form.migdex-dual-block--form
                            input.migdex-input--wave.h-47.mb-30(type="text" placeholder="Адрес сайта...")
                            input.migdex-input--wave.h-47.mb-50(type="text" data-mask="+7 (000) 000-00-00" placeholder="Телефон...")
                            button.migdex-button-block.m-0-auto.fs-14(type="submit") Заказать аудит
