section.section9.p-60-0
    .container
        .section-wrap
            .section-title.mb-15 О нас в цифрах
            p.section-desc.mb-50 Eu suspendisse a praesent aliquet aliquet. Velit vulputate elit.
    .info-about-us
        .container
            .info-about-us--wrap
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title.info-us--client(data-count-too="50" data-count-attr="+") 0
                        .info-about-us--desc Клиентов работает с нами
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title(data-count-too="50000" data-count-attr="+") 0
                        .info-about-us--desc Продвинутых запросов
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title.info-us--trafik(data-count-too="5000000" data-count-attr="+") 0
                        .info-about-us--desc Привлечённого трафика
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title(data-count-too="100" data-count-attr="%") 0
                        .info-about-us--desc Довольных клиентов