section.section1.p-60-0
    .container
        .section-migdex-wrap
            .section-title.mb-30.text-left Корзина
            .section-basket--wrap
                .col-xl-8.col-lg-8.col-md-12.col-sm-12.basket-content
                    .basket-content-top.blue-box
                        .basket-content-top--left
                            .basket-content-top-dot#check-all
                            //  input.basket-content-top-input(type="radio" name="basket_head")
                            .basket-content-top-text Выбрать все
                        .basket-content-top--right
                            .basket-content-top-delete Удалить выбранные
                    .basket-content-bottom__item.blue-box
                        .baslet-content-bottom--left

                            .basket-content-top-dot__item
                                input.basket-input-item(type="checkbox")
                            .basket-content-img(style="background-image:url('./static/img/general/basket1.png')")
                            .basket-content-item--info
                                .basket-content-item--title 1С-Битрикс: CRM+
                                .basket-content-item--desc Идеально для небольших отделов продаж
                                .basket-migdex-products--info
                                    .basket-migdex-products--info__team
                                        +icon('team')
                                        span 6
                                    .basket-migdex-products--info__team--line
                                    .basket-migdex-products--info__team
                                        +icon('db')
                                        span 50 гб
                        .baslet-content-bottom--right
                            .basket-content-item--count
                                .basket-content-item--count__minus
                                    +icon('minus')
                                input(type="text" value="0" min="0")
                                .basket-content-item--count__plus
                                    +icon('plus')
                            .basket-content-item--price 2 390 руб/месяц
                    .basket-content-bottom__item.blue-box
                        .baslet-content-bottom--left

                            .basket-content-top-dot__item
                                input.basket-input-item(type="checkbox")
                            .basket-content-img(style="background-image:url('./static/img/general/basket1.png')")
                            .basket-content-item--info
                                .basket-content-item--title 1С-Битрикс: CRM+
                                .basket-content-item--desc Идеально для небольших отделов продаж
                                .basket-migdex-products--info
                                    .basket-migdex-products--info__team
                                        +icon('team')
                                        span 6
                                    .basket-migdex-products--info__team--line
                                    .basket-migdex-products--info__team
                                        +icon('db')
                                        span 50 гб
                        .baslet-content-bottom--right
                            .basket-content-item--count
                                .basket-content-item--count__minus
                                    +icon('minus')
                                input(type="text" value="0" min="0")
                                .basket-content-item--count__plus
                                    +icon('plus')
                            .basket-content-item--price 2 390 руб/месяц



                .col-xl-4.col-lg-4.col-md-12.col-sm-12.basket-sidebar
                    .basket-over.blue-box
                        .basket-over-top
                            .basket-over-title Моя корзина
                            .basket-over-count 1 товар
                        .basket-over-body
                            .basket-over-body--item
                                .basket-over-body--title 1С-Битрикс: CRM+
                                .basket-over-body--price 2 390 ₽

                        .bakset-over-bottom
                            .bakset-over-bottom--over
                                .basket-over-title Общая стоимость
                                .basket-over-price 2 390 ₽
                            .migdex-button.w-100 Перейти к оформлению