section.section1.p-60-0
    .container
        .section-migdex-wrap
            .section-title.mb-15 Добро пожаловать в службу поддержки Migdex!
            p.section-desc.mb-40 Если у Вас возникли технические неполадки или вопросы к нам – оставьте заявку, мы ответим в течении 10 минут”
        .section-support.row
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-6.support-cols
                .support-item.blue-box
                    img.support-img(src="/static/img/content/svg/calen.svg")
                    .support-item--text Работаем ПН-ПТ с 07:00 до 17:00 по московскому времени (Без выходных)
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-6.support-cols
                .support-item.blue-box
                    img.support-img(src="/static/img/content/svg/conver.svg")
                    .support-item--text Онлайн-чат доступен ПН-ПТ с 8:00 до 16:00 по московскому времени (Без выходных)
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-6.support-cols
                .support-item.blue-box
                    img.support-img(src="/static/img/content/svg/clock.svg")
                    .support-item--text Скорость ответа зависит от сложности вопроса, но в среднем составляет 1 рабочий день
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-6.support-cols
                .support-item.blue-box
                    img.support-img(src="/static/img/content/svg/contact.svg")
                    .support-item--text Возможна консултация по телефону, для этого нужно #[span заполнить форму] обратного звонка
