section.section1.p-60-0
    .container
        .col-xl-10.col-lg-10.col-md-12.col-sm-12.blue-box.support-request
            .section-title.mb-15 Запрос в техподдержку
            p.section-desc.mb-60 Если у Вас возникли технические неполадки или вопросы к нам – оставьте заявку, мы ответим в течении 10 минут”
            form
                .support-request--form.row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input
                        label Имя:
                        input.migdex-input--wave(placeholder="Укажите имя")
                    .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input
                        label Email:
                        input.migdex-input--wave(placeholder="E-mail")
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input.mb-60
                        label Вопрос:
                        textarea.migdex-textarea(cols="5" rows="5" placeholder="Укажите суть вопроса")
                button.migdex-button.w-230.m-0-auto(type="submit") Отправить
