section.section-baner-page(style="background-image:url('./static/img/general/img2.jpg')")
    .section-baner-padding
        .container
            .slide-main-content.col-xl-6_5.col-lg-6_5.col-md-6.col-sm-12.p-0
                .slide-main--title2 Разработаем и запустим готовый сайт уже через 5 дней!
                .create-migdex-option
                    .create-migdex-option--icon
                        +icon('settings')
                    span Удобная админка, сможете сами все менять
                .create-migdex-option
                    .create-migdex-option--icon
                        +icon('disc')
                    span Конверсия наших сайтов в среднем 15%

section.section-slider-seo.tt-count
    .container
        .migdex-baner-slider--wrap.tt-count
            .migdex-baner-slider.row
                .migdex-baner-slide.blue-box
                    .migdex-baner-slide--icon
                        img(src="/static/img/content/svg/inv.svg")
                    .migdex-baner-slide--desc Проводим
                    .migdex-baner-slide--desc анализ конкурентов
                .migdex-baner-slide.blue-box
                    .migdex-baner-slide--icon
                        img(src="/static/img/content/svg/checklist.svg")
                    .migdex-baner-slide--desc Составляем план
                    .migdex-baner-slide--desc работы
                .migdex-baner-slide.blue-box
                    .migdex-baner-slide--icon
                        img(src="/static/img/content/svg/inv2.svg")
                    .migdex-baner-slide--desc Согласовываем
                    .migdex-baner-slide--desc цены
                .migdex-baner-slide.blue-box
                    .migdex-baner-slide--icon
                        img(src="/static/img/content/svg/inv3.svg")
                    .migdex-baner-slide--desc Заключаем
                    .migdex-baner-slide--desc договор
            .migdex-baner-arrows
                .migdex-baner-slider--prev
                    +icon('arrow-down')
                .migdex-baner-slider--next
                    +icon('arrow-down')

