section.section3.p-60-0
    .container
        .section-wrap
            .section-title Настройте свой сайт
            p.section-desc.mb-5 Выберите категорию и настройки блоки как Вам нужно, либо воспользуйтесь нашими
                a.yellow-color(href="/") SEO услугами
            .section-migdex-wrap
                .migdex-seo-settings--top.blue-box
                    .migdex-seo-settings--item(data-tab="seo-landing") Landing page
                    .migdex-seo-settings--item.active(data-tab="seo-corp") Корпоративный сайт
                    .migdex-seo-settings--item(data-tab="seo-shop") Интернет-магазин
                    .migdex-seo-settings--item(data-tab="seo-ir") Индивидуальные решения
                    .migdex-seo-settings--item(data-tab="seo-ds") Редизайн сайта
                    .migdex-seo-settings--item(data-tab="seo-ls") Логотип/фирменный стиль

                .migdex-seo-settings--tabs
                    .migdex-seo-settings--bottom.blue-box.seo-landing
                        .migdex-seo-settings--left
                            img(src="/static/img/general/seo1.png")
                        .migdex-seo-settings--right
                            .migdex-seo-settings--right__top
                                .migdex-seo-settings--title Базовый функционал
                                .migdex-seo-settings--count 1
                                    span.slesh /
                                    span 5
                            .migdex-seo-settings--right__mid
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн главной
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн внутренних
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text CMS-корпоративная
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Галерея
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Новости/Статьи
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Слайдер
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Анимация-CSS
                                    .migdex-seo-settings--status Входит
                            .migdex-seo-settings--right__bottom
                                .migdex-button-block.fs-16 Добавить блоки
                                .migdex-seo-settings--price от 65 000 ₽
                    .migdex-seo-settings--bottom.blue-box.seo-corp.active
                        .migdex-seo-settings--left
                            img(src="/static/img/general/seo1.png")
                        .migdex-seo-settings--right
                            .migdex-seo-settings--right__top
                                .migdex-seo-settings--title Базовый функционал
                                .migdex-seo-settings--count 1
                                    span.slesh /
                                    span 5
                            .migdex-seo-settings--right__mid
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн главной
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн внутренних
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text CMS-корпоративная
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Галерея
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Новости/Статьи
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Слайдер
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Анимация-CSS
                                    .migdex-seo-settings--status Входит
                            .migdex-seo-settings--right__bottom
                                .migdex-button-block.fs-16 Добавить блоки
                                .migdex-seo-settings--price от 65 000 ₽
                    .migdex-seo-settings--bottom.blue-box.seo-shop
                        .migdex-seo-settings--left
                            img(src="/static/img/general/seo1.png")
                        .migdex-seo-settings--right
                            .migdex-seo-settings--right__top
                                .migdex-seo-settings--title Базовый функционал
                                .migdex-seo-settings--count 1
                                    span.slesh /
                                    span 5
                            .migdex-seo-settings--right__mid
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн главной
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн внутренних
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text CMS-корпоративная
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Галерея
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Новости/Статьи
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Слайдер
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Анимация-CSS
                                    .migdex-seo-settings--status Входит
                            .migdex-seo-settings--right__bottom
                                .migdex-button-block.fs-16 Добавить блоки
                                .migdex-seo-settings--price от 65 000 ₽
                    .migdex-seo-settings--bottom.blue-box.seo-ir
                        .migdex-seo-settings--left
                            img(src="/static/img/general/seo1.png")
                        .migdex-seo-settings--right
                            .migdex-seo-settings--right__top
                                .migdex-seo-settings--title Базовый функционал
                                .migdex-seo-settings--count 1
                                    span.slesh /
                                    span 5
                            .migdex-seo-settings--right__mid
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн главной
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн внутренних
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text CMS-корпоративная
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Галерея
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Новости/Статьи
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Слайдер
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Анимация-CSS
                                    .migdex-seo-settings--status Входит
                            .migdex-seo-settings--right__bottom
                                .migdex-button-block.fs-16 Добавить блоки
                                .migdex-seo-settings--price от 65 000 ₽
                    .migdex-seo-settings--bottom.blue-box.seo-ds
                        .migdex-seo-settings--left
                            img(src="/static/img/general/seo1.png")
                        .migdex-seo-settings--right
                            .migdex-seo-settings--right__top
                                .migdex-seo-settings--title Базовый функционал
                                .migdex-seo-settings--count 1
                                    span.slesh /
                                    span 5
                            .migdex-seo-settings--right__mid
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн главной
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн внутренних
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text CMS-корпоративная
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Галерея
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Новости/Статьи
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Слайдер
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Анимация-CSS
                                    .migdex-seo-settings--status Входит
                            .migdex-seo-settings--right__bottom
                                .migdex-button-block.fs-16 Добавить блоки
                                .migdex-seo-settings--price от 65 000 ₽
                    .migdex-seo-settings--bottom.blue-box.seo-ls
                        .migdex-seo-settings--left
                            img(src="/static/img/general/seo1.png")
                        .migdex-seo-settings--right
                            .migdex-seo-settings--right__top
                                .migdex-seo-settings--title Базовый функционал
                                .migdex-seo-settings--count 1
                                    span.slesh /
                                    span 5
                            .migdex-seo-settings--right__mid
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн главной
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Индивидуальный дизайн внутренних
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text CMS-корпоративная
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Галерея
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Новости/Статьи
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Слайдер
                                    .migdex-seo-settings--status Входит
                                .migdex-seo-settings--check
                                    .migdex-popup-input--col
                                        .migdex-ofor-checkbox
                                            label
                                                .migdex-checkbox
                                                input.migdex-checkbox--input(type="checkbox")
                                                .migdex-checkbox--text Анимация-CSS
                                    .migdex-seo-settings--status Входит
                            .migdex-seo-settings--right__bottom
                                .migdex-button-block.fs-16 Добавить блоки
                                .migdex-seo-settings--price от 65 000 ₽