section.section8.p-60-0
    .container
        .section-wrap
            .section-title.mb-15 Отзывы
            p.section-desc.mb-50 In viverra ac netus mattis id. Nisl phasellus risus auctor quam.
            .section-migdex-wrap
                .section-migdex-seo--nav
                    .migdex-seo-review--prev
                        +icon('arrow-down')
                    .migdex-seo-review--next
                        +icon('arrow-down')
                .section-seo-reviews.row
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-seo-reviews--col
                        .section-seo-reviews--item
                            img.section-seo-reviews--img(src="./static/img/general/doc1.jpg")
                            .section-seo-reviews--content
                                .section-seo-reviews--title “Компания”
                                .section-seo-reviews--desc Convallis tellus quam id odio ut turpis id egestas. At adipiscing aliquam enim, ac in maecenas vehicula. Faucibus eu in at erat eget id porttitor in sem. Sed integer elementum sagittis turpis cursus sapien.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-seo-reviews--col
                        .section-seo-reviews--item
                            img.section-seo-reviews--img(src="./static/img/general/doc2.jpg")
                            .section-seo-reviews--content
                                .section-seo-reviews--title “Компания”
                                .section-seo-reviews--desc Convallis tellus quam id odio ut turpis id egestas. At adipiscing aliquam enim, ac in maecenas vehicula. Faucibus eu in at erat eget id porttitor in sem. Sed integer elementum sagittis turpis cursus sapien.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-seo-reviews--col
                        .section-seo-reviews--item
                            img.section-seo-reviews--img(src="./static/img/general/doc1.jpg")
                            .section-seo-reviews--content
                                .section-seo-reviews--title “Компания”
                                .section-seo-reviews--desc Convallis tellus quam id odio ut turpis id egestas. At adipiscing aliquam enim, ac in maecenas vehicula. Faucibus eu in at erat eget id porttitor in sem. Sed integer elementum sagittis turpis cursus sapien.
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.section-seo-reviews--col
                        .section-seo-reviews--item
                            img.section-seo-reviews--img(src="./static/img/general/doc2.jpg")
                            .section-seo-reviews--content
                                .section-seo-reviews--title “Компания”
                                .section-seo-reviews--desc Convallis tellus quam id odio ut turpis id egestas. At adipiscing aliquam enim, ac in maecenas vehicula. Faucibus eu in at erat eget id porttitor in sem. Sed integer elementum sagittis turpis cursus sapien.
                .js-seo-dots--wrap