section.section9.p-60-0
    .container
        .section-wrap
            .section-title.mb-15 О нас в цифрах
            p.section-desc.mb-50 Eu suspendisse a praesent aliquet aliquet. Velit vulputate elit.
    .info-about-us
        .container
            .info-about-us--wrap
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title 50 +
                        .info-about-us--desc Клиентов работает с нами
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title 50 000 +
                        .info-about-us--desc Продвинутых запросов
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title 5 000 000 +
                        .info-about-us--desc Привлечённого трафика
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.info-about-us--col
                    .info-about-us--item
                        .info-about-us--title 100 %
                        .info-about-us--desc Довольных клиентов