section.section6.p-60-0
    .container
        .section-wrap
            .section-title Наше портфолио
            p.section-desc.mb-70 Lorem pretium non a, felis, vivamus ipsum. Lectus eget elit nisl.
            .section-migdex-wrap
                .migdex-seo-portfolio--slider
                    .migdex-seo-portfolio--content
                        .migdex-seo-portfolio--left.migdex-seo-portfolio--gradient#seo-left
                            .migdex-seo-portfolio--left__item.d-flex.justify-content-between.flex-column
                                img.migdex-seo-portfolio--left__item--img(src="./static/img/general/p-img.png")
                                .migdex-seo-portfolio--left__item--wrap
                                    .migdex-seo-portfolio--left__item--title Онлайн академия “Название”
                                    .migdex-seo-portfolio--left__item--desc Стоимость: 85 000 ₽
                            .migdex-seo-portfolio--left__item.d-flex.justify-content-between.flex-column
                                img.migdex-seo-portfolio--left__item--img(src="./static/img/general/p-img.png")
                                .migdex-seo-portfolio--left__item--wrap
                                    .migdex-seo-portfolio--left__item--title Онлайн академия “Название”
                                    .migdex-seo-portfolio--left__item--desc Стоимость: 85 000 ₽
                            .migdex-seo-portfolio--left__item.d-flex.justify-content-between.flex-column
                                img.migdex-seo-portfolio--left__item--img(src="./static/img/general/p-img.png")
                                .migdex-seo-portfolio--left__item--wrap
                                    .migdex-seo-portfolio--left__item--title Онлайн академия “Название”
                                    .migdex-seo-portfolio--left__item--desc Стоимость: 85 000 ₽
                        .migdex-seo-portfolio--right
                            .migdex-seo-portfolio--right--wrap#seo-right
                                .migdex-seo-portfolio--right__item
                                    .migdex-seo-portfolio--title__wrap
                                        .migdex-seo-portfolio--title.mb-0 Сайт “Название”
                                        .migdex-seo-portfolio--info Доход: 400 000 ₽ / месяц
                                    .migdex-sep-prf--desc__wrap
                                        .migdex-seo-portfolio--desc.mb-15 Сфера деятельности:
                                            span Экзамены для иностранцев
                                        .migdex-seo-portfolio--desc.mb-15 Регион:
                                            span Москва
                                        .migdex-seo-portfolio--desc Срок разработки:
                                            span 7 дней
                                    .migdex-seo-prf--result Результаты:
                                    .migdex-seo-portfolio--option.msp-color-gray Купили ссылок
                                    .migdex-seo-portfolio--option.msp-color-gray Разместили сайт в каталогах
                                    .migdex-seo-portfolio--option.msp-color-gray Сделали SERM
                                .migdex-seo-portfolio--right__item
                                    .migdex-seo-portfolio--title__wrap
                                        .migdex-seo-portfolio--title.mb-0 Сайт “Название” 2
                                        .migdex-seo-portfolio--info Доход: 400 000 ₽ / месяц
                                    .migdex-sep-prf--desc__wrap
                                        .migdex-seo-portfolio--desc.mb-15 Сфера деятельности:
                                            span Экзамены для иностранцев
                                        .migdex-seo-portfolio--desc.mb-15 Регион:
                                            span Москва
                                        .migdex-seo-portfolio--desc Срок разработки:
                                            span 7 дней
                                    .migdex-seo-prf--result Результаты:
                                    .migdex-seo-portfolio--option.msp-color-gray Купили ссылок
                                    .migdex-seo-portfolio--option.msp-color-gray Разместили сайт в каталогах
                                    .migdex-seo-portfolio--option.msp-color-gray Сделали SERM
                                .migdex-seo-portfolio--right__item
                                    .migdex-seo-portfolio--title__wrap
                                        .migdex-seo-portfolio--title.mb-0 Сайт “Название” 3
                                        .migdex-seo-portfolio--info Доход: 400 000 ₽ / месяц
                                    .migdex-sep-prf--desc__wrap
                                        .migdex-seo-portfolio--desc.mb-15 Сфера деятельности:
                                            span Экзамены для иностранцев
                                        .migdex-seo-portfolio--desc.mb-15 Регион:
                                            span Москва
                                        .migdex-seo-portfolio--desc Срок разработки:
                                            span 7 дней
                                    .migdex-seo-prf--result Результаты:
                                    .migdex-seo-portfolio--option.msp-color-gray Купили ссылок
                                    .migdex-seo-portfolio--option.msp-color-gray Разместили сайт в каталогах
                                    .migdex-seo-portfolio--option.msp-color-gray Сделали SERM
                            .migdex-seo-portfolio--buttons
                                .migdex-button-wrap
                                    .migdex-button-block.w-175 Оставить заявку
                                .migdex-seo-slider--nav
                                    .migdex-seo-slider--prev
                                        +icon('arrow-down')
                                    .migdex-seo-slider--next
                                        +icon('arrow-down')