section.section10.p-60-0
    .container
        .section-wrap
            .section-title.mb-15 Почему выбирают нас
            p.section-desc.mb-50 Turpis suspendisse vestibulum a sagittis. Id aliquam odio et.
            .section-why-choise.why-seo--wrapper.row
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-why-col
                    .section-why-block.blue-box.p-40-20
                        .slider-wave-slide--item.why-seo-item
                            img.section-why--img(src="/static/img/content/svg/contract.svg")
                        p.section-why-desc Гарантии по договору
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-why-col
                    .section-why-block.blue-box.p-40-20
                        .slider-wave-slide--item.why-seo-item
                            img.section-why--img(src="/static/img/content/svg/checklist.svg")
                        p.section-why-desc Точный план работ
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-why-col
                    .section-why-block.blue-box.p-40-20
                        .slider-wave-slide--item.why-seo-item
                            img.section-why--img(src="/static/img/content/svg/crm.svg")
                        p.section-why-desc Прозрачная отчётность в CRM
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-why-col
                    .section-why-block.blue-box.p-40-20
                        .slider-wave-slide--item.why-seo-item
                            img.section-why--img(src="/static/img/content/svg/portfolio.svg")
                        p.section-why-desc Большой опыт работ