section.section13.seo-sub-margin.pt-5
    .container
        .col-xl-10.col-lg-10.col-md-10.col-sm-10.migdex-seo-subscribe.blue-box
            .migdex-seo-subscribe--left
                .map-title.text-left Подпишитесь на наш блог
                .map-desc.text-left.mb-0 Будьте в курсе последних новостей и акций!
            form.migdex-seo-subscribe--right
                .map-plane-email
                    +icon('email')
                input.sub-map-plane(type="text" placeholder="Email")
                button.sub-maop-send(type="submit")
                    +send('send')
