.col-xl-3.col-lg-3.col-md-12.col-sm-12.pl-0.migdex-lk-sidebar.migdex-lk-mobile--sidebar.mb-60

    .migdex-lk-sidebar--stycky
        .migdex-lk-profile--mobile.blue-box
            .d-flex.justify-content-center
                .migdex-lk-content--profile__wrap
                    .migdex-lk-content--profile
                        .migdex-lk-content--profile__img(style="background-image:url('./static/img/general/lk.png')")
                        input.migdex-lk-content--profile__input#change-lk(type="file")
                    .migdex-lk-content--profile--mob
                        .migdex-lk-content--profile__name Вадим Громов
                        label.migdex-lk-content--profile__change(for="change-lk") Изменить аватар
        .migdex-lk-sidebar--box.blue-box
            .basket-ofor-block--top
                .basket-ofor-block--top__title Личный кабинет
                ul.migdex-lk-sidebar--list
                    a.migdex-lk-sidebar--item(href="/") Профиль
                    a.migdex-lk-sidebar--item(href="/") Настройки
                    a.migdex-lk-sidebar--item(href="/") Подписки
                    a.migdex-lk-sidebar--item(href="/") Материалы
                    a.migdex-lk-sidebar--item(href="/") Поддержка
        .migdex-lk-sidebar--box.blue-box
            .basket-ofor-block--top
                .basket-ofor-block--top__title Заказы
                ul.migdex-lk-sidebar--list
                    a.migdex-lk-sidebar--item(href="/") Все заказы
                    a.migdex-lk-sidebar--item(href="/") Активные заказы
                    a.migdex-lk-sidebar--item(href="/") Завершенные заказов
                    a.migdex-lk-sidebar--item(href="/") Отмененные заказы
        .migdex-lk-sidebar--logout Выйти