section.section1.p-60-0.pt-2
    .container
        .section-migdex-wrap
            .section-title.mb-30.text-left Вадим Громов
            .section-lk--wrap
                include sidebar/sidebar


                .col-xl-9.col-lg-9.col-md-6.col-sm-12.migdex-lk-content.pr-0


                    .migdex-lk-content--box.blue-box

                        .migdex-lk-content--box__bottom2.border-none.p-0
                            .migdex-lk-content--box__top--title.fs-20.mb-30 Отмененные заказы
                            table.migdex-lk-content--table
                                thead
                                    tr
                                        th № заказа
                                        th Тип продукта
                                        th Дата
                                        th
                                tbody
                                    tr
                                        td Заказ №4
                                        td Интернет-магазин “MigdexShop”
                                        td 03.03.2020
                                        td.migdex-lk-table--arrow
                                            .migdex-lk-content--box__top--arrow
                                                +icon('arrow-down')
                                    tr
                                        td Заказ №4
                                        td Интернет-магазин “MigdexShop”
                                        td 03.03.2020
                                        td.migdex-lk-table--arrow
                                            .migdex-lk-content--box__top--arrow
                                                +icon('arrow-down')