section.section1.p-60-0.pt-2
    .container
        .section-migdex-wrap
            .section-title.mb-30.text-left Вадим Громов
            .section-lk--wrap
                include sidebar/sidebar


                .col-xl-9.col-lg-9.col-md-6.col-sm-12.migdex-lk-content.pr-0
                    .migdex-lk-content--box.blue-box
                        .migdex-lk-content--box__section
                            .migdex-lk-content--title.mb-1 Подписки
                            .migdex-lk-content--desc.mb-30 Получайте свежие акции, уникальные промокоды и новости!
                            .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col.p-0.mb-30
                                .migdex-popup-input
                                    input.migdex-input--wave.h-47.pr-120(type="email" placeholder="Email")
                                    button.migdex-lk-content-submit(type="submit") Подписаться