section.section1.p-60-0.pt-2
    .container
        .section-migdex-wrap
            .section-title.mb-30.text-left Вадим Громов
            .section-lk--wrap
                include sidebar/sidebar


                .col-xl-9.col-lg-9.col-md-6.col-sm-12.migdex-lk-content.pr-0


                    .migdex-lk-content--box.blue-box

                        .migdex-lk-content--box__bottom2.border-none.p-0
                            .migdex-lk-content--box__top--title.fs-20.mb-30 Заказ №7
                            .migdex-lk-content--product--block__top
                                .migdex-lk-content--product__top
                                    .migdex-lk-content--product__top--info
                                        .migdex-lk-content--product__top--name Товар 1
                                        .migdex-lk-content--product__top--desc от 15 марта 2020
                                    .migdex-lk-content--product__top--process В процессе
                                a.migdex-lk-content--product__bottom(href="/")
                                    .migdex-lk-content--product__bottom--info
                                        img.migdex-lk-product--img(src="/static/img/content/product/img1.png")
                                        .migdex-lk-product--name MigdexShop - Premium
                                    .migdex-lk-content--product__bottom--count 1 шт.
                            .migdex-lk-content--product--block__middle
                                .migdex-lk-content--product--middle--title
                                    .migdex-lk-content--product--middle--left Счет №0002 от 15.03.2020
                                        span Не оплачен
                                    .migdex-lk-content--product--middle--right Сумма к оплате: 39 990 ₽
                                .migdex-lk-content--product--middle--pay__type
                                    .migdex-lk-content--product--pay--title Способы оплаты
                                    .migdex-lk-content--product--pay--list
                                        .migdex-lk-content--product--pay--item.checked
                                            .migdex-lk-content--product--pay--dot
                                            .migdex-lk-content--product--pay--block
                                                .migdex-lk-content--product--pay--block__title Оплата при получении
                                                .migdex-lk-content--product--pay--block__desc Наличными или картой
                                        .migdex-lk-content--product--pay--item
                                            .migdex-lk-content--product--pay--dot
                                            .migdex-lk-content--product--pay--block
                                                .migdex-lk-content--product--pay--block__title Банковской картой
                                                .migdex-lk-content--product--pay--block__desc Оплата картой онлайн
                                        .migdex-lk-content--product--pay--item
                                            .migdex-lk-content--product--pay--dot
                                            .migdex-lk-content--product--pay--block
                                                .migdex-lk-content--product--pay--block__title Яндекс.Деньги
                                                .migdex-lk-content--product--pay--block__desc Кэшбэк 5%

                                    .migdex-button-wrap.justify-content-start
                                        .migdex-button.w-210 Оплатить
                            .migdex-lk-content--product--block__bottom.row
                                .col-xl-6.col-lg-6.col-md-12.col-sm-12.migdex-lk-content--product--over
                                    .migdex-lk-content--product--over__adress
                                        .migdex-lk-content--product--over--title Доставка в пункт выдачи
                                        .migdex-lk-content--product--over--desc.mb-15 Краснодарский край, г. Краснодар, ул. Черняховского,д. 70
                                        .migdex-lk-content--product--over--title Получатель
                                        .migdex-lk-content--product--over--desc Вадим Громов
                                        a.migdex-lk-content--product--over--desc(href="mailto:gromov22@mail.com") Gromov22@mail.com
                                        a.migdex-lk-content--product--over--desc(href="tel:89991234567") 8 (999) 123 45 67
                                .col-xl-6.col-lg-6.col-md-12.col-sm-12.migdex-lk-content--product--over
                                    .migdex-lk-content--product--over__pay
                                        .migdex-lk-content--product--middle--title
                                            .migdex-lk-content--product--middle--left Итого:
                                            .migdex-lk-content--product--middle--right 39 990 ₽
                                        .migdex-lk-delivery--product--title Служба доставки:
                                            span Доставка курьером
                                        .migdex-lk-delivery--product--title Статус отгрузки:
                                            span Ожидает обработки
                                        .migdex-lk-product--buttons
                                            .migdex-lk-product--button-gray Повторный заказ
                                            .migdex-lk-product--button-red Отменить заказ
