section.section1.p-60-0.pt-2
    .container
        .section-migdex-wrap
            .section-title.mb-30.text-left Вадим Громов
            .section-lk--wrap
                include sidebar/sidebar


                .col-xl-9.col-lg-9.col-md-6.col-sm-12.migdex-lk-content.pr-0
                    .migdex-lk-content--box.blue-box
                        .migdex-lk-content--box__section
                            .migdex-lk-content--title Настройки
                            .migdex-lk-settings-title Настройка SMS-уведомлений на телефон #[a(href="tel:89991234567") 8 (999) 123 45 67]
                            .migdex-lk-settings-dot--item
                                .basket-content-top-dot__item
                                    input.basket-input-item(type="checkbox")
                                .migdex-lk-settings-dot--text Присылать специальные предложения
                            .migdex-lk-settings-dot--item.mb-40
                                .basket-content-top-dot__item
                                    input.basket-input-item(type="checkbox")
                                .migdex-lk-settings-dot--text Присылать уведомления об оформлении и статусе заказа
                            .migdex-lk-settings-title Настройка Viber-уведомлений на телефон #[a(href="tel:89991234567") 8 (999) 123 45 67]
                            .migdex-lk-settings-dot--item.mb-40
                                .basket-content-top-dot__item
                                    input.basket-input-item(type="checkbox")
                                .migdex-lk-settings-dot--text Присылать специальные предложения
                            .migdex-lk-settings-title Настройка Viber-уведомлений на телефон #[a(href="tel:89991234567") 8 (999) 123 45 67]
                            .migdex-lk-settings-dot--item.mb-40
                                .basket-content-top-dot__item
                                    input.basket-input-item(type="checkbox")
                                .migdex-lk-settings-dot--text Присылать специальные предложения
                            .migdex-lk-settings-title Настройки E-mail: #[a(href="mailto:gromov@gmail.com") Gromov@gmail.com]
                            .migdex-lk-settings-dot--item
                                .basket-content-top-dot__item
                                    input.basket-input-item(type="checkbox")
                                .migdex-lk-settings-dot--text Присылать специальные предложения
                            .migdex-lk-settings-dot--item
                                .basket-content-top-dot__item
                                    input.basket-input-item(type="checkbox")
                                .migdex-lk-settings-dot--text Присылать уведомления об оформлении и статусе заказа
