section.section1.p-60-0.pt-2
    .container
        .section-migdex-wrap
            .section-title.mb-30.text-left Вадим Громов
            .section-lk--wrap
                include sidebar/sidebar


                .col-xl-9.col-lg-9.col-md-6.col-sm-12.migdex-lk-content.pr-0
                    .migdex-lk-content-box__v2--top.blue-box.mb-30
                        .migdex-lk-content--box__top--tabs
                            .migdex-lk-content--top--tab.active(data-tab="migdex-lk-doc") Документы
                            .migdex-lk-content--top--tab(data-tab="migdex-lk-is") Исходники
                    .migdex-lk-content--box__v2.blue-box

                        .migdex-lk-content--box__bottom2.border-none.p-30
                            .migdex-lk-content--box__bottom--tab.migdex-lk-doc.active
                                .migdex-lk-content--box__top--title.fs-20.mb-30 Документы

                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')





                            .migdex-lk-content--box__bottom--tab.migdex-lk-is
                                .migdex-lk-content--box__top--title.fs-20.mb-30 Исходники
                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('fig')
                                                .migdex-lk-content-mat--item__name Исходник сайта.fig
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Logo.svg
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('zip')
                                                .migdex-lk-content-mat--item__name Баннеры.zip
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')

                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                .migdex-lk-content-mat--item__wrap
                                    .migdex-lk-content-mat--item
                                        span Заказ №4  “MigdexShop”
                                        .migdex-lk-content--box__top--arrow
                                            +icon('arrow-down')
                                    .migdex-lk-content-mat--item__content
                                        .migdex-lk-content-mat--item__content--wrap
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('pdf')
                                                .migdex-lk-content-mat--item__name Счет-фактура.pdf
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')
                                            a.migdex-lk-content-mat--item__block(href="/" download)
                                                .migdex-lk-content-mat--item__icon
                                                    +icon('docs2')
                                                .migdex-lk-content-mat--item__name Акт на лицензию
                                                .migdex-lk-content-mat--item__icon__dow
                                                    +icon('download')



