section.section-baner(style="background-image:url('/static/img/general/bg2.jpg')")
    .container
        .baner-wrapper
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.baner-col.pl-0
                .baner-title Решения Bitrix
                .baner-desc Компания «Migdex» является одним из ведущих разработчиков готовых решений для "1С-Битрикс:Маркетплейс":
                .baner-desc-dual
                    .baner-desc-v2.pl-0 Благодаря своим наработкам мы можем предложить лучшую цену в комплекте с набором бесплатных услуг
                    .baner-desc-v2 Собственный отдел техподдержки поможет вам во внедрении и настройке типовых решений
            .col-xl-6.col-lg-6.col-md-6.col-sm-12.baner-col
                .baner-bg--img(style="background-image:url('/static/img/general/bg2-img.png')")