section.section2.p-60-0
    .container
        .section-migdex-wrap
            .section-title.mb-30 Магазин
            .section-migdex-tabs
                .section-migdex-tab.w-170.active(data-tab="migdex-cloud") Облако
                .section-migdex-tab.w-170(data-tab="migdex-box") Коробка
                .section-migdex-tab.w-170(data-tab="migdex-product") Продукты

            .section-migdex-tabs-content.mb-30
                .section-migdex-content.migdex-cloud.active
                    .section-migdex-content--wrap.row.mb-30
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--img(style="background-image:url('./static/img/general/products/img1.png')")
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title CRM+
                                        .migdex-products--desc Идеально для небольших отделов продаж
                                    .migdex-products--info__flex--bottom
                                        .migdex-products--info
                                            .migdex-products--info__team
                                                +icon('team')
                                                span 6
                                            .migdex-products--info__team
                                                +icon('db')
                                                span 50 гб
                                        .migdex-button-wrap
                                            .migdex-button-product.m-0-auto.p-13-20.fs-13 Купить за 2 390 руб/месяц
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--img(style="background-image:url('./static/img/general/products/img1.png')")
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title Задачи+
                                        .migdex-products--desc Для работы над проектами,контроля сроков и качества
                                    .migdex-products--info__flex--bottom
                                        .migdex-products--info
                                            .migdex-products--info__team
                                                +icon('team')
                                                span 24
                                            .migdex-products--info__team
                                                +icon('db')
                                                span 9 гб
                                        .migdex-button-wrap
                                            .migdex-button-product.m-0-auto.p-13-20.fs-13 Купить за 2 390 руб/месяц
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--img(style="background-image:url('./static/img/general/products/img1.png')")
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title Команда
                                        .migdex-products--desc Для автоматизации продаж в CRM и проектной работы
                                    .migdex-products--info__flex--bottom
                                        .migdex-products--info
                                            .migdex-products--info__team
                                                +icon('team')
                                                span 6
                                            .migdex-products--info__team
                                                +icon('db')
                                                span 50 гб
                                        .migdex-button-wrap
                                            .migdex-button-product.m-0-auto.p-13-20.fs-13 Купить за 4 790 руб/месяц
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--img(style="background-image:url('./static/img/general/products/img1.png')")
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title Компания
                                        .migdex-products--desc Максимальные возможности для всей компании
                                    .migdex-products--info__flex--bottom
                                        .migdex-products--info
                                            .migdex-products--info__team
                                                +icon('team')
                                                span ∞
                                            .migdex-products--info__team
                                                +icon('db')
                                                span ∞
                                        .migdex-button-wrap
                                            .migdex-button-product.m-0-auto.p-13-20.fs-13 Купить за 9 590 руб/месяц

                .section-migdex-content.migdex-box
                    .section-migdex-content--wrap.row.mb-30
                        .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-40-55
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title.mb-50.fs-26 CRM
                                        .migdex-people-count
                                            +icon('team')
                                            span 12
                                        .migdex-products-card--price 59 000 руб.
                                        ul.migdex-products-card--list
                                            li.migdex-products-card--item Экстранет
                                            li.migdex-products-card--item Многодепартаментность
                                            li.migdex-products-card--item Веб-кластер
                                    .migdex-products--info__flex--bottom
                                        .migdex-button-wrap
                                            .migdex-button-block.m-0-auto.w-100.fs-16 Купить
                        .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-40-55
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title.mb-50.fs-26 Корпоративный портал
                                        .migdex-people-count
                                            +icon('team')
                                            span(data-price="120 000 руб.") 50
                                            span(data-price="140 000 руб.") 100
                                            span(data-price="160 000 руб.") 250
                                            span(data-price="199 000 руб.") 500
                                        .migdex-products-card--price 199 000 руб.

                                        ul.migdex-products-card--list
                                            li.migdex-products-card--item Экстранет
                                            li.migdex-products-card--item Многодепартаментность
                                            li.migdex-products-card--item Веб-кластер
                                    .migdex-products--info__flex--bottom
                                        .migdex-button-wrap
                                            .migdex-button-block.m-0-auto.w-100.fs-16 Купить
                        .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-40-55
                                .migdex-products--info__flex
                                    .migdex-products--info__flex--top
                                        .migdex-products--title.mb-50.fs-26 Энтерпрайз
                                        .migdex-people-count.mb-15
                                            +icon('team')
                                            span 1 000 +
                                        a.migdex-more-info-card.mb-30(href="/") Подробнее
                                        .migdex-products-card--price 699 000 + руб.

                                        ul.migdex-products-card--list
                                            li.migdex-products-card--item Экстранет
                                            li.migdex-products-card--item Многодепартаментность
                                            li.migdex-products-card--item Веб-кластер
                                    .migdex-products--info__flex--bottom
                                        .migdex-button-wrap
                                            .migdex-button-block.m-0-auto.w-100.fs-16 Купить



                .section-migdex-content.migdex-product
                    .section-migdex-content--wrap.row.mb-30
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--info__flex
                                    //.migdex-products--info__flex--top
                                    .migdex-products--icon
                                        +icon('rocket')
                                    .migdex-products--title.fs-20 Лицензия Старт
                                    .migdex-products--desc Программа для ЭВМ "1С-Битрикс: Управление сайтом".
                                    //.migdex-products--info__flex--bottom
                                    .migdex-button-wrap
                                        .migdex-button-block.m-0-auto.w-100.fs-16 Купить за 5 400 ₽
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--info__flex
                                    //.migdex-products--info__flex--top
                                    .migdex-products--icon
                                        +icon('hand')
                                    .migdex-products--title.fs-20 Лицензия Стандарт
                                    .migdex-products--desc Программа для ЭВМ "1С-Битрикс: Управление сайтом".
                                    //.migdex-products--info__flex--bottom
                                    .migdex-button-wrap
                                        .migdex-button-block.m-0-auto.w-100.fs-16 Купить за 15 900 ₽
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--info__flex
                                    //.migdex-products--info__flex--top
                                    .migdex-products--icon
                                        +icon('suit')
                                    .migdex-products--title.fs-20 Лицензия Малый Бизнес
                                    .migdex-products--desc Программа для ЭВМ "1С-Битрикс: Управление сайтом".
                                    //.migdex-products--info__flex--bottom
                                    .migdex-button-wrap
                                        .migdex-button-block.m-0-auto.w-100.fs-16 Купить за 35 900 ₽
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box.p-30
                                .migdex-products--info__flex
                                    //.migdex-products--info__flex--top
                                    .migdex-products--icon
                                        +icon('goal')
                                    .migdex-products--title.fs-20 Лицензия Бизнес
                                    .migdex-products--desc Программа для ЭВМ "1С-Битрикс: Управление сайтом".
                                    //.migdex-products--info__flex--bottom
                                    .migdex-button-wrap
                                        .migdex-button-block.m-0-auto.w-100.fs-16 Купить за 72 900 ₽
            .migdex-button-wrap
                .migdex-button.m-0-auto.w-370 Заявка на консультацию