section.section1.p-60-0
    .container.mobile-support-padding-0
        .section-migdex-wrap
            .section-title.mb-40 Услуги
            .section-services--wrapper
                .col-sm-12.row-list-services--mobile.blue-box
                    a.row-services--item(href="/") Разработка сайтов
                    a.row-services--item(href="/") Маркетинг
                    a.row-services--item(href="/") Автоматизация
                    a.row-services--item(href="/") UX | UI Дизайн
                    a.row-services--item(href="/") Поддержка
                    a.row-services--item(href="/") Таргетированная реклама
                    a.row-services--item(href="/") Контекстная реклама


                .col-xl-3.col-lg-3.col-md-5.col-sm-12.sidebar-services.pl-0
                    .sidebar-services-sticky
                        .sidebar-services-box.blue-box
                            ul.sidebar-services--list
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span Разработка сайтов
                                        +icon('arrow-down')
                                    .sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span Маркетинг
                                        +icon('arrow-down')
                                    ul.sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span Автоматизация
                                        +icon('arrow-down')
                                    ul.sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span UX | UI Дизайн
                                        +icon('arrow-down')
                                    ul.sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span Поддержка
                                        +icon('arrow-down')
                                    ul.sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span Таргетированная реклама
                                        +icon('arrow-down')

                                    ul.sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3
                                li.sidebar-services--item
                                    .sidebar-services--item--wrap
                                        span Контекстная реклама
                                        +icon('arrow-down')
                                    ul.sidebar-services--list__depth2
                                        a.sidebar-services--item__depth2(href="/") Меню 1
                                        a.sidebar-services--item__depth2(href="/") Меню 2
                                        a.sidebar-services--item__depth2(href="/") Меню 3

                        .migdex-button.w-100 Оставить заявку
                .col-xl-9.col-lg-9.col-md-7.col-sm-12.content-services
                    .section-migdex-content--wrap.row
                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.col-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее

                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.col-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее

                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее
                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее
                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее
                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее
                        .col-xl-4.col-lg-4.col-md-12.col-sm-6.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img.min-height(style="background-image:url('./static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Создание эффективного сайта – это не только дизайн и верстка, но еще и грамотная SEO-оптимизация
                                    .section-migdex-content--price-more
                                        a.section-migdex-content--link__more(href="/") Подробнее
