footer
  flex 0 0 auto
  background-color #1F2334
  padding 60px 0
.footer-wrap
  display flex
  padding 0px
.footer-tel
  display flex
  align-items center
  margin-bottom 15px
  .icon
    size(17px)
    fill #FDC830
    margin-right 7px
.footer-logo
  .icon
    size(88px)
.footer-left
  display flex
  justify-content space-between
.footer-logo
  width 100%
  display flex
  justify-content center
  align-items center
  margin-bottom 10px
.footer-list-block
  display flex
  flex-direction column
.footer-block
  display flex
  flex-direction column
.footer-tel--link
  font-family Ow500
  font-size 17px
  color #fff
.footer-email
  display flex
  align-items center
  justify-content center
  margin-bottom 30px
.footer-email--title
  font-family Ow500
  font-size 14px
  color #A5A7AE
.footer-email-email
  font-family Ow500
  font-size 14px
  color #fff
  margin-left 3px
.footer-social
  display flex
  align-items center
  justify-content center
  .icon
    size(20px)
    fill #fff
.footer-soc-item
  margin-right 24px
  &:last-child
    margin-right 0
.footer-title-block
  font-family Ow500
  font-size 16px
  color #fff
  margin-bottom 20px
.footer-list-link
  font-family Os400
  font-size 14px
  color #A5A7AE
  margin-bottom 15px
  &:last-child
    margin-bottom 0
.footer-right
  display flex
  flex-direction column
  align-items center
.footer-phone
  font-family Ow500
  font-size 23px
  color #fff
  margin-bottom 25px
  text-align center
.footer-download
  display flex
  align-items center
  background-color #2B2F3F
  padding 12px 15px
  border-radius 5px
  width 220px
  .icon
    size(25px)
    margin-right 25px
  span
    font-family Ow500
    font-size 14px
    color #fff
.w-270
  width 270px !important
.mt-25
  margin-top 25px
//.migdex-callback
//  margin-bottom 25px !important
.footer-copyright
  display flex
  justify-content center
  background-color #2B2F3F
  height 50px
.footer-copyright--wrap
  display flex
  justify-content space-between
  align-items center
  height 100%
.footer-copyright-protect
  font-family Os400
  font-size 14px
  color #AAACB2
.footer-copyright--link
  font-family Os400
  font-size 14px
  color #AAACB2
  text-decoration underline