section.section1.p-60-0
    .container
        .section-migdex-wrap
            .section-title.mb-30 Готовые интернет-магазины
            .section-migdex-tabs
                .section-migdex-tab.w-170(data-tab="all-sites") Все сайты
                .section-migdex-tab.w-170.active(data-tab="web-shop") Интернет-магазины
                .section-migdex-tab.w-170(data-tab="multi-page-sites") Многостраничные сайты
                .section-migdex-tab.w-170(data-tab="landing") Лендинги
            .section-migdex-tabs-content.mb-30
                .section-migdex-content.all-sites
                    .section-migdex-content--wrap.row
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                .section-migdex-content.web-shop.active
                    .section-migdex-content--wrap.row
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content-hit Хит продаж
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее


                .section-migdex-content.multi-page-sites
                    .section-migdex-content--wrap.row
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее

                .section-migdex-content.landing
                    .section-migdex-content--wrap.row
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.section-migdex-content--col
                            .section-migdex-content--item.blue-box
                                .section-migdex-content--img(style="background-image:url('/static/img/content/product/img1.png')")
                                    .section-migdex-content--blur
                                        span Скоро
                                .section-migdex-content--info
                                    .section-migdex-content--title--text
                                        .section-migdex-content--title MigdexShop - Premium
                                        .section-migdex-content--text Это продвинутый интернет-магазин для товаров любой тематики. Разработан с учетом пожеланий пользователей, современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.современных тенденций и технологий для быстрой загрузки.
                                    .section-migdex-content--price-more
                                        .section-migdex-content--price от 39 900 ₽
                                        .section-migdex-content--more
                                            .section-migdex-content--eye
                                                +icon('eye')
                                            .migdex-button-product.w-120 Подробнее
            .migdex-button-wrap
                .migdex-button.m-0-auto Заявка на индивидуальный проект
