section.section2.p-60-0.mb-120
    .section-wave
        .container
            .section-title.mb-70 3 легких шага к Вашему интерент-магазину
            .section-wave--content.d-flex.flex-column
               .section-template-content.section-template-flex-wrap.col-xl-11.col-lg-11.col-md-12.col-sm-12.col-12.m-0-auto
                   .section-template-content--item__wrap
                       .section-template-content--item
                           .section-template-content--img
                               img.section-template--img(src="/static/img/content/svg/choise-template.svg")
                       .section-template-content--item__bot
                           .section-template-content--title 1) #[span Выбираете шаблон]
                           .section-template-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu commodo dictum condimentum mattis et. Viverra sit nulla adipiscing at commodo. Amet,  aliquam, mauris arcu nunc, ut aliquam. Praesent.
                   .section-template-content--item__wrap
                       .section-template-content--item
                           .section-template-content--img
                               img.section-template--img(src="/static/img/content/svg/create-template2.svg")
                       .section-template-content--item__bot
                           .section-template-content--title 2) #[span Выбираете шаблон]
                           .section-template-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu commodo dictum condimentum mattis et. Viverra sit nulla adipiscing at commodo. Amet,  aliquam, mauris arcu nunc, ut aliquam. Praesent.
                   .section-template-content--item__wrap
                       .section-template-content--item
                           .section-template-content--img
                               img.section-template--img(src="/static/img/content/svg/choise-template3.svg")
                       .section-template-content--item__bot
                           .section-template-content--title 3) #[span Выбираете шаблон]
                           .section-template-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu commodo dictum condimentum mattis et. Viverra sit nulla adipiscing at commodo. Amet,  aliquam, mauris arcu nunc, ut aliquam. Praesent.
               //.section-template-content--info.col-xl-11.col-lg-11.col-md-6.col-sm-12.m-0-auto
               //    .section-template-content--title__wrap
               //        .section-template-content--title 1) #[span Выбираете шаблон]
               //        .section-template-content--title 2) #[span Выбираете шаблон]
               //        .section-template-content--title 3) #[span Выбираете шаблон]
               //.section-template-content--info.col-xl-12.col-lg-12.col-md-6.col-sm-12.m-0-auto.p-0
               //    .section-template-content--title__wrap
               //        .section-template-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu commodo dictum condimentum mattis et. Viverra sit nulla adipiscing at commodo. Amet,  aliquam, mauris arcu nunc, ut aliquam. Praesent.
               //        .section-template-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu commodo dictum condimentum mattis et. Viverra sit nulla adipiscing at commodo. Amet,  aliquam, mauris arcu nunc, ut aliquam. Praesent.
               //        .section-template-content--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare eu commodo dictum condimentum mattis et. Viverra sit nulla adipiscing at commodo. Amet,  aliquam, mauris arcu nunc, ut aliquam. Praesent.