section.section1.p-60-0
    .container
        .section-migdex-wrap
            .section-title.mb-50.text-left Оформление заказа
            .section-basket--wrap.section-ofor--wrap
                .col-xl-9.col-lg-8.col-md-12.col-sm-12.basket-content-ofor
                    .section-migdex-tabs.migdex-tabs-ofor.blue-box
                        .section-migdex-tab.w-220.active(data-tab="fiz-face") Физическое лицо
                        .section-migdex-tab.w-220(data-tab="ur-face") Юридическое лицо
                    .section-migdex-tabs-content
                        .section-migdex-content.fiz-face.active
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Ваше полное имя
                                    .basket-ofor-block--top__row.row
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Фамилия*
                                                input.migdex-input--wave.h-47(placeholder="Укажите фамилию" required)
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Имя*
                                                input.migdex-input--wave.h-47(placeholder="Укажите имя" required)
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Отчество*
                                                input.migdex-input--wave.h-47(placeholder="Укажите отчество" required)
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Контактная информация
                                    .basket-ofor-block--top__row.row
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Ваш телефон*
                                                input.migdex-input--wave.h-47(placeholder="+7 (___) ___-__-__" required)
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label E-mail*
                                                input.migdex-input--wave.h-47(placeholder="Укажите email" required)

                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Адрес по прописке
                                    .basket-ofor-block--top__row.row
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col.mb-20
                                            .migdex-popup-input
                                                label Индекс*
                                                input.migdex-input--wave.h-47(placeholder="Укажите индекс" required)
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col.mb-20
                                            .migdex-popup-input
                                                label Город*
                                                input.migdex-input--wave.h-47(placeholder="Укажите город" required)
                                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input--col.mb-20
                                            .migdex-popup-input
                                                label Адрес по прописке*
                                                input.migdex-input--wave.h-47(placeholder="Укажите адрес" required)
                                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input--col
                                            .migdex-ofor-checkbox
                                                label
                                                    .migdex-checkbox
                                                    input.migdex-checkbox--input(type="checkbox")
                                                    .migdex-checkbox--text Я согласен на обработку #[a(href="/") персональных данных] и получение рассылки
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Комментарии к заказу
                                    .basket-ofor-block--top__row.row
                                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                textarea.migdex-textarea(cols="5" rows="5" placeholder="Укажите индекс")
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title НДС
                                    .basket-ofor-block--top__row.row
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col.migdex-nds-check
                                            label.migdex-nds-item
                                                .migdex-nds-dot
                                                input.migdex-nds-input(type="radio" name="migdex_nds")
                                                .migdex-nds-text С НДС
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col.migdex-nds-check
                                            label.migdex-nds-item
                                                .migdex-nds-dot
                                                input.migdex-nds-input(type="radio" name="migdex_nds")
                                                .migdex-nds-text Без НДС
                        .section-migdex-content.ur-face
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Ваше полное имя
                                    .basket-ofor-block--top__row.row
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Фамилия*
                                                input.migdex-input--wave.h-47(placeholder="Укажите фамилию" required)
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Имя*
                                                input.migdex-input--wave.h-47(placeholder="Укажите имя" required)
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Отчество*
                                                input.migdex-input--wave.h-47(placeholder="Укажите отчество" required)
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Контактная информация
                                    .basket-ofor-block--top__row.row
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label Ваш телефон*
                                                input.migdex-input--wave.h-47(placeholder="+7 (___) ___-__-__" required)
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                label E-mail*
                                                input.migdex-input--wave.h-47(placeholder="Укажите email" required)

                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Адрес по прописке
                                    .basket-ofor-block--top__row.row
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col.mb-20
                                            .migdex-popup-input
                                                label Индекс*
                                                input.migdex-input--wave.h-47(placeholder="Укажите индекс" required)
                                        .col-xl-6.col-lg-6.col-md-6.col-sm-12.migdex-popup-input--col.mb-20
                                            .migdex-popup-input
                                                label Город*
                                                input.migdex-input--wave.h-47(placeholder="Укажите город" required)
                                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input--col.mb-20
                                            .migdex-popup-input
                                                label Адрес по прописке*
                                                input.migdex-input--wave.h-47(placeholder="Укажите адрес" required)
                                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input--col
                                            .migdex-ofor-checkbox
                                                label
                                                    .migdex-checkbox
                                                    input.migdex-checkbox--input(type="checkbox")
                                                    .migdex-checkbox--text Я согласен на обработку #[a(href="/") персональных данных] и получение рассылки
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title Комментарии к заказу
                                    .basket-ofor-block--top__row.row
                                        .col-xl-12.col-lg-12.col-md-12.col-sm-12.migdex-popup-input--col
                                            .migdex-popup-input
                                                textarea.migdex-textarea(cols="5" rows="5" placeholder="Укажите индекс")
                            .basket-ofor-block.blue-box
                                .basket-ofor-block--top
                                    .basket-ofor-block--top__title НДС
                                    .basket-ofor-block--top__row.row
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col.migdex-nds-check
                                            label.migdex-nds-item
                                                .migdex-nds-dot
                                                input.migdex-nds-input(type="radio" name="migdex_nds")
                                                .migdex-nds-text С НДС
                                        .col-xl-4.col-lg-4.col-md-6.col-sm-12.migdex-popup-input--col.migdex-nds-check
                                            label.migdex-nds-item
                                                .migdex-nds-dot
                                                input.migdex-nds-input(type="radio" name="migdex_nds")
                                                .migdex-nds-text Без НДС
                .col-xl-3.col-lg-4.col-md-12.col-sm-12.basket-sidebar-ofor
                    .basket-over.blue-box
                        .basket-over-top
                            .basket-over-title Моя корзина
                            .basket-over-count 1 товар
                        .basket-over-body
                            .basket-over-body--item
                                .basket-over-body--title 1С-Битрикс: CRM+
                                .basket-over-body--price 2 390 ₽

                        .bakset-over-bottom
                            .bakset-over-bottom--over
                                .basket-over-title Общая стоимость
                                .basket-over-price 2 390 ₽
                            .migdex-button.w-100.fs-16 Оплатить онлайн